<template>
  <div>
    <Landing />
    <Assistances />
    <PaymentsMethods />
    <WhyHireAssistance />
    <AnyQuestions v-if="!isLoggedIn"/>
    <CancelAssistances v-if="isLoggedIn"/>
  </div>
</template>
<script>
import Landing from '../components/landing';
import Assistances from '../components/assistances';
import PaymentsMethods from '../components/PaymentsMethods';
import WhyHireAssistance from '../components/WhyHireAssistance';
import AnyQuestions from '../components/AnyQuestions';
import CancelAssistances from '../components/CancelAssistances';
import { mapActions, mapState } from "vuex";

export default {
  components: {Landing, Assistances, PaymentsMethods, WhyHireAssistance, AnyQuestions, CancelAssistances},
  data() {
    return {
    }
  },
  head: {
    title: {
      inner: 'SeSocio - Invertí en los proyectos más rentables sin monto mínimo'
    },
    // Meta tags
    meta: [
    ],
  },
  computed: {
    ...mapState("core", ["country"]),
    ...mapState("user", ["isLoggedIn", "current"]),
  },
};
</script>
<style lang="scss" scoped>

</style>
