<i18n>
{
  
  "es": {
    "title": "Este producto todavía no está disponible en tu país.",
    "terms": "Estamos trabajando para llevar este producto y muchos más a tu región.",
    "obs": "Mientras tanto puedes explorar todos los productos que tenemos para ofrecerte.",
    "ini": "Ir al inicio"
  },
  "en": {
    "title": "Este producto todavía no está disponible en tu país.",
    "terms": "Estamos trabajando para llevar este producto y muchos más a tu región.",
    "obs": "Mientras tanto puedes explorar todos los productos que tenemos para ofrecerte.",
    "ini": "Ir al inicio"
  }
}
</i18n>

<template>
  <div>
    <Wrapper>
      <template slot="content">
        <v-flex>
          <div class="squareBorder pt-5 pb-5">
            <v-card
              class="mx-auto squareBorder bckWhite"
              :flat="isXsSm()"
            >
              <v-card-text :class="{ 'pa-0': isXsSm() }">
                <v-container fluid >
                  <!-- <v-img
                    src="@/assets/img/UserForeign.png"
                    height="150"
                  ></v-img> -->
                  <div class="text-center">
                    <img class="resize-height" height="330" :src="require('../../../assets/img/UserForeign.png')" />
                  </div>
                  <div class="title black--text mb-5 text-center">
                    <span class="ml-4">{{ $t("title") }}</span>
                  </div>
                  <div class="black--text text-center">{{ $t("terms") }}</div>
                  <div class="black--text text-center">{{ $t("obs") }}</div>
                  <div class="text-center">
                    <v-btn
                      color="primary"
                      width="200"
                      class="mt-5"
                      @click="$router.push('/asistencias')"
                    >
                      {{ $t("ini") }}
                    </v-btn>
                  </div>
                </v-container>
              </v-card-text>
            </v-card>
          </div>
        </v-flex>
      </template>
    </Wrapper>
  </div>
</template>

<script>
export default {
  created() {
    window.scrollTo(0, 0);
  }
};
</script>

<style scoped>
  @media screen and (max-width: 960px) {
    .resize-height{
      height: 200px;
    }
  }
</style>