<i18n>
{
  
  "es": {
    "title": "Asistencias - Tenemos que actualizar tu información.",
    "terms": "Te pedimos que por favor nos suministres la documentación necesaria para verificar tu cuenta.",
    "documentation": "Completar documentación"
  },
  "en": {
    "title": "Asistencias - Tenemos que actualizar tu información.",
    "terms": "Te pedimos que por favor nos suministres la documentación necesaria para verificar tu cuenta.",
    "documentation": "Completar documentación"
  }
}
</i18n>

<template>
  <div>
    <Wrapper>
      <template slot="content">
        <v-flex>
          <div class="squareBorder pt-5 pb-5">
            <v-card class="mx-auto squareBorder bckWhite" :flat="isXsSm()" :class="{'pa-5': isXsSm()}">
              <v-card-text :class="{'pa-0': isXsSm()}">
                <v-container fluid :class="{'pa-10 pb-16': !isXsSm()}">
                  <div class="title black--text mb-5">
                    <v-avatar size="40" class="ml-1" color="#f6941e">
                      <v-icon color="white">mdi-attachment</v-icon>
                    </v-avatar>
                    <span class="ml-4">{{ $t('title') }}</span>
                  </div>
                  <div class="black--text">{{ $t('terms') }}</div>
                  <div class="text-center">
                    <v-btn color="primary" width="200" class="mt-5" @click="$router.push('user/documentation')">
                        {{ $t('documentation') }} 
                    </v-btn>
                  </div>
                </v-container>
              </v-card-text>
            </v-card>
          </div>
        </v-flex>
      </template>
    </Wrapper>
  </div>
</template>

<script>
export default {
  created() {
    window.scrollTo(0, 0);
  }
}
</script>