<i18n src="../locales/credential.json"></i18n>
<template>
  <div>
    <Wrapper>
      <template slot="content">
        <v-flex>
          <div class="squareBorder pt-5 pb-5">
            <v-card class="mx-auto squareBorder bckWhite" :flat="isXsSm()" :class="{'pa-5': isXsSm()}">
              <v-card-text :class="{'pa-0': isXsSm()}">
                <v-container fluid :class="{'pa-0': isXsSm()}">
                  <div class="mb-5 title black--text">{{ $t('title') }}</div>
                  <v-divider></v-divider>
                  <div class="text-right" :class="[isXsSm() ? 'my-2' : 'my-5']">
                    <v-btn data-test-download text color="#707070" @click="downloadCredential">
                      <v-icon left>mdi-cloud-download</v-icon>
                      {{ $t('download') }}
                    </v-btn>
                  </div>
                  <v-img :src="require(`../../../assets/img/ike_credential.png`)" max-width="400" class="d-block mx-auto"></v-img>
                  <v-btn data-test-back_to_assistance class="d-block mx-auto mt-12" color="primary" @click="backToAssistance">{{ $t('action') }}</v-btn>
                </v-container>
              </v-card-text>
            </v-card>
          </div>
        </v-flex>
      </template>
    </Wrapper>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  computed: {
    ...mapState("assistance", ["assistance"])
  },
  methods: {
    ...mapActions("assistance", ["getAssistence"]),
    downloadCredential() {
      window.location.href = require("../../../assets/pdf/ike_credential.pdf");
    },
    backToAssistance() {
      this.$router.push('/asistencias/' + this.assistance.slug);
    }
  },
  async beforeMount() {
    await this.getAssistence(this.$route.params.title_id);
  }
}
</script>