<i18n src="../locales/index.json"></i18n>

<template>
  <div>
    <template v-if="assistance">
      <Assistance :slug="assistance" />
      <div
        class="container pa-0 ma-0 justify-center container--fluid fill-height"
      >
        <div
          class="layout justify-center"
          style="width: 100%; max-width: 1124px"
        >
          <div class="flex ml-4 mr-4" style="width: 100%; max-width: 1092px">
            <div class="container">
              <div class="row mx-auto">
                <div class="mt-5 pt-0 col-md-7 col-12 border-white marge-L">
                  <h2 class="black--text display-1">¿Qué incluye?</h2>
                  <p>
                    Vos vas a poder contar con los siguientes servicios.
                  </p>
                  <div data-v-5b8d091a="" class="covid mr-15">
                    <ProjectBallons
                      :class="{ 'ml--50': !isXsSm() }"
                      :index.sync="currentProjectIndex"
                      :images="assistancesIcons"
                    />
                  </div>
                </div>
                <div class="col-md-5 col-12 mt-5 pt-0 border-green">
                  <div
                    class="v-window v-item-group theme--dark v-carousel v-carousel--hide-delimiter-background"
                    style="height: 640px"
                  >
                    <v-carousel
                      v-model="currentProjectIndex"
                      :showArrows="false"
                      hideDelimiterBackground
                      height="640"
                      cycle
                    >
                      <v-carousel-item
                        v-for="(project, index) in assistancesData"
                        :key="index"
                        light
                      >
                        <v-list disabled color="transparent">
                          <v-list-item-group color="primary">
                            <v-list-item style="padding: 0px;">
                              <v-list-item-content>
                                <v-row class="d-flex flex-row align-center">
                                  <v-col cols="12" class="pt-0 pb-0">
                                    <p class="item-assistance">
                                      <img
                                        width="32px"
                                        height="32px"
                                        :src="
                                          require(`../../../assets/img/assistances/icon/${assistancesData[index].icon}.svg`)
                                        "
                                      />
                                      <span
                                        style="position: relative; top: -2px"
                                        class="black--text display-1"
                                      >
                                        {{ assistancesData[index].title }}
                                      </span>
                                    </p>
                                    <br /><br />
                                    <div
                                      class="mb-2"
                                      v-for="(ass, index) in assistancesData[index].items"
                                      :key="index"
                                    >
                                      <p class="item-assistance">
                                        <i
                                          style="
                                            font-size: 1.5rem;
                                            top: 3px;
                                            position: relative;
                                          "
                                          class="green--text mdi mdi-chevron-double-right"
                                        ></i>
                                        <span
                                          class="title-2 font-weight-bold"
                                          >{{ ass.title }}</span
                                        >
                                      </p>
                                      <br />
                                      <span
                                        class="ml-2 body-2 grey--text text--darken-3 text-wrap"
                                      >
                                        {{ ass.description }}
                                      </span>
                                    </div>
                                  </v-col>
                                </v-row>
                              </v-list-item-content>
                            </v-list-item>
                          </v-list-item-group>
                        </v-list>
                      </v-carousel-item>
                    </v-carousel>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     <!--  solo para mascotas - asistencia-para-mascotas-arg -->
      <div v-if="assistance.slug ==='asistencia-para-mascotas-arg'" class="container pa-0 ma-0 justify-center container--fluid fill-height">
        <div class="flex ml-4 mr-4" style="width: 100%; max-width: 1092px">
          <div class="container" :style="{'background-image': 'url(' +require(`../../../assets/img/assistances/fondo-app-mascotas-desktop.png`)+')'}">
            <div class="row mx-auto">
              <div class="mt-5 pt-0 col-md-7 col-12">
                
                <h2 class="black--text display-1">La plataforma ideal para tus mascotas</h2>
                <p>
                  Con la aplicación podrás estar tranquilo, ya que conseguirás a cualquier veterinario las 24 hs y los 365 días del año, para realizar cualquier consulta por Whatsapp.
                </p>
                <img class="mr-2"
                  :src="
                    require(`../../../assets/img/assistances/google-play-button.svg`)
                  "
                 />
                <img
                  :src="
                    require(`../../../assets/img/assistances/appstore-button.svg`)
                  "
                />
              </div>
              <div class="col-md-5 col-12 mt-5 pt-0">
                <img
                  :src="
                    require(`../../../assets/img/assistances/app-mascotas.png`)
                  "
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <AssistanceIncludes />

      <extraInfo/>

      <OtherAssistances :slug="assistance.slug" />

      <Wrapper style="background-color: white!important;">
        <template slot="content">
          <v-row class="mb-8">
            <v-col class="text-center mt-10" cols="12">
              <v-btn
                data-test-go_to_terms
                @click="$router.push({ name: 'assistance_terms' })"
                color="primary"
                width="200"
                >Ver términos y condiciones</v-btn
              >
            </v-col>
          </v-row>
        </template>
      </Wrapper>
    </template>
  </div>
</template>
<script>
import { mapActions, mapState } from "vuex";
import Assistance from "../components/Assistance";
import extraInfo from "../../home/components/extraInfo";
import AssistanceIncludes from "../components/AssistanceIncludes";
import OtherAssistances from "../components/OtherAssistances";
import ProjectBallons from "../components/ProjectBallons";
import Terms from "../terms";
import Axios from "axios";

export default {
  components: {
    extraInfo,
    AssistanceIncludes,
    OtherAssistances,
    Assistance,
    ProjectBallons,
  },
  data() {
    return {
      from: null,
      termsDialog: false,
      currentProjectIndex: 0,
      assistancesData: [],
      assistancesIcons: [],
      assistanceId: null
    };
  },
  head: {
    title: {
      inner:
        "SeSocio - Invertí en los proyectos más rentables sin monto mínimo",
    },
    // Meta tags
    meta: [],
  },
  computed: {
    ...mapState("assistance", [
      "assistance",
      "loaderAssistances",
      "buyApiResponse",
      "assistances",
    ]),
    ...mapState("user", ["current", "isLoggedIn", "userId"]),
    assistanceTerms() {
      if (this.assistance.slug != undefined) {
        return Terms[this.assistance.slug].html;
      }
    },
    isUserNotAvailable() {
      return (
        this.isLoggedIn &&
        Object.keys(this.current).length === 0 &&
        this.current.constructor === Object
      );
    },
  },
  methods: {
    ...mapActions("assistance", ["getAssistence", "buyAssistance"]),
    ...mapActions("core", ["showRegisterDialog"]),
    goToContract() {
      let banned_types = this.$store.state["user"].current.banned_type;
      let country = this.$store.state["user"].current.country;
      let data = this.validateUser();
      //console.log(country);
      //console.log(data);
      if (this.isLoggedIn) {
        if (banned_types && banned_types[0] !== "totally_banned") {
          if (country && country === "AR") {
            if (data) {
              this.$router.push({
                name: "assistance_methods",
                params: { title_id: this.assistance.slug },
              });
            } else {
              this.$router.push({
                name: "assistance_additional_information",
                params: { path: this.$route.path + "?contract=true" },
              });
            }
          } else {
            this.$router.push({
              path: `/asistencias/no-disponible/${this.assistance.slug}`,
            });
          }
        } else if (country && country === "AR") {
          this.$router.push({
            path: `/asistencias/no-disponible/${this.assistance.slug}`,
          });
        } else {
          this.$router.push({ path: "/asistencias/completar-documentacion" });
        }
      } else {
        this.showRegisterDialog({
          status: true,
          path: this.$route.path + "?contract=true",
        });
      }
    },
    validateUser() {
      return (
        this.current.street &&
        this.current.street_number &&
        this.current.postal_code &&
        this.current.state &&
        this.current.city
      );
    },
    async getCarrusel(id) {
       this.assistancesIcons = []
      await Axios.get(
        process.env.VUE_APP_API_ASSISTANCE_URL +
          process.env.VUE_APP_API_ASSISTANCE_VERSION_URL +
          "/assistance_carousel?id_assistance="+ id
      )
        .then((resp) => {
          if (resp.status === 200 && resp.data) {
            this.assistancesData = resp.data;
            for (var i = 0; i < this.assistancesData.length; i += 1) {
              this.assistancesIcons.push(this.assistancesData[i].icon);
            }
          }
        })
        .catch(function (e) {
          console.log(e);
        });
    },
  },
  watch: {
    async $route(v) {
      if (v.params.title_id) {
        await this.getAssistence(v.params.title_id);
        this.getCarrusel(this.assistance.id)
        }
      if (v.query.contract && this.from !== null) this.goToContract();
    },
  
  },
  async created() {   
    if (this.$route.params.title_id)
      await this.getAssistence(this.$route.params.title_id);
      let newId = await this.getAssistence(this.$route.params.title_id);
      this.assistanceId = newId.data.id
      this.getCarrusel(this.assistanceId)
    if (this.$route.query.contract && this.from) this.goToContract();
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.from = from.name;
    });
  },
};
</script>
<style lang="scss" scoped>
.ml--50 {
  margin-left: -50px;
}

.ss-green {
  color: #4efeb1 !important;
}
.text-14 {
  font-size: 14px !important;
  font-weight: normal;
  line-height: 1.71;
}
.text-28 {
  font-size: 28px !important;
  font-weight: normal;
}
::v-deep .v-progress-circular__info {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: white;
}

// Bordes
.border-white {
  position: relative;

  &::after {
    content: "";
    height: 32%;
    width: 3px;
    position: absolute;
    right: 3%;
    top: 0;
    background-color: #ffffff;
  }
}
.border-green {
  position: relative;

  &::after {
    content: "";
    height: 50%;
    width: 3px;
    position: absolute;
    left: -6.5%;
    top: 39%;
    background-color: #ff97e2;
  }
}

::v-deep .v-carousel__controls__item.v-btn {
  color: var(--v-primary-base);
  opacity: 0.4;
  margin-right: 2px;
  margin-left: 2px;
}
::v-deep .v-carousel__controls__item.v-btn::before {
  color: #ffffff;
}
::v-deep .v-carousel__controls__item.v-btn.v-btn--active {
  color: var(--v-primary-base);
  opacity: 1;
}
::v-deep .v-carousel__controls__item.v-btn.v-btn--active:before {
  opacity: 0;
}
::v-deep .v-carousel__controls__item.v-btn:hover:before {
  opacity: 0;
}
::v-deep .v-carousel__controls__item .v-icon {
  opacity: 1;
}
.textTitle {
  color: #ff97e2;
  padding-top: 30px;
}
.body-1 {
  color: #fff;
  padding-top: 0px;
}
.v-chip .overline-3 {
  margin-top: 2px !important;
}

.v-chip img {
  margin-top: -2px !important;
}

.flag {
  font-size: 12px;
  max-height: 12px;
}

.v-parallax__image {
  /* top: 50%;
    margin-top: -360px; */
  bottom: -20%;
}
.head-image {
  background-color: #3229e5;
  height: 594px;
  background-repeat: no-repeat;
  /*  background-position: center center; */
  background-size: cover;
}
.bg-color-1 {
  height: 594px;
}
.bg-color-2 {
  height: 594px;
}
.card-details {
  height: 72% !important;
  margin-top: 140px !important;
  margin-right: 50px !important;
  margin-left: 30px !important;
  width: 90% !important;
}
.ss-green {
  color: #4efeb1 !important;
}
.item-assistance {
  margin-bottom: -14px;
}
.itemText {
  position: relative;
  top: -30px;
  margin-left: 30px;
  display: block;
}
@media (max-width: 600px) {
		.marge-L {
      margin-left: 15px;
    }
}
</style>
