<i18n>
  {
    "es": {
      "title_method": "Metodos de pago",
      "add_card": "Agregar tarjeta",
      "mercado_pago": "Mercado Pago",
      "IARS": "IARS",
      "MsgError":"Tu saldo es insuficiente. Para comprar tu asistencia, <a class='font-weight-bold white--text text--darken' href='https://www.sesocio.com/deposit'><strong>carga saldo aquí</strong></a>"
    },
    "en": {
      "title_method": "Payment methods",
      "add_card": "Add card",
      "mercado_pago": "Mercado Pago",
       "IARS": "IARS",
       "MsgError":"Your balance is insufficient. To buy your assistance, <a class='font-weight-bold white--text text--darken' href='https://www.sesocio.com/deposit'><strong>add money to your wallet</strong></a>"
    }
  }
</i18n>
<i18n src="../locales/index.json"></i18n>
<template>
  <div>
    <Breadcrumbs backEvent="prevStep" :back="true" :title="$t('methods.breadcrumb')" @prevStep="$router.push('/asistencias/' + assistance.slug)"></Breadcrumbs>

    <Wrapper>
      <template slot="content">
        <v-flex>
          <div class="py-5" :class="{'px-4': isXsSm()}">
            <v-card class="mx-auto" elevation="0" rounded="0" :flat="isXsSm()" :class="{'pa-5': isXsSm()}">
              <v-card-text :class="{'pa-0': isXsSm()}">
                <v-container fluid :class="{'pa-0': isXsSm()}">
                  <div class="mb-5 title black--text">{{ $t('title_method') }}</div>
                  <v-divider></v-divider>
                  <div class="d-flex flex-wrap ma-5">

                    <!-- add card -->
                    <v-card
                      v-if="false"
                      class="cardHover centerContent text-center pa-0 ma-0 mr-3 mb-3"
                      max-width="296"
                      min-width="296"
                      max-height="64"
                      min-height="64"
                      data-test-add_card
                      @click="gotoPayMyCard"
                      ripple
                    >
                      <v-card-text class="lineHeight17">
                        <v-icon class="ma-0 mb-2 iconLook" size="42" color="grey">
                          mdi-credit-card-plus
                        </v-icon>
                        <div class="subtitle-2 textCard" > {{ $t("add_card") }}</div>
                      </v-card-text>
                    </v-card>

                    <!-- pay cach ARS -->
                    <v-card
                      class="cardHover centerContent text-center pa-0 ma-0 mr-3 mb-3"
                      max-width="296"
                      min-width="296"
                      max-height="64"
                      min-height="64"
                      data-test-pay_cash
                      @click="gotoPayCash"
                      ripple
                    >
                      <v-card-text class=" lineHeight17">
                        <div class="mt-5 mr-3">
                          <v-img class="flag" :src="require(`@/assets/img/flags/ARS.png`)" alt="ARS" />
                        </div>
                        <div class="subtitle-2 textCard textLeft" > Saldo Cuenta Sesocio <br/> {{refreshAmount()}} {{ $t("IARS") }}  </div>
                      </v-card-text>
                    </v-card>

                     <!-- pay Mercado Pago -->
                    <v-card
                      v-if="false"
                      class="cardHover centerContent text-center pa-0 ma-0 mr-3 mb-3"
                      max-width="296"
                      min-width="296"
                      max-height="64"
                      min-height="64"
                      data-test-pay_mp
                      @click="gotoPayMP"
                      ripple
                    >
                      <v-card-text class=" lineHeight17">
                        <div class="mr-3 ">
                           <v-icon class="ma-0 mb-2 iconLook" size="42" color="grey">
                              mdi-credit-card
                            </v-icon>
                        </div>
                        <div class="subtitle-2 textCard" > {{ $t("mercado_pago") }} </div>
                      </v-card-text>
                    </v-card>

                    <template
                      v-if="false"
                    >
                      <div v-for="(creditCard, index) in cards" :key="'A'+ index">
                        <!-- users card this.cards -->
                        <v-card
                          class="centerContent pa-0 ma-0 mr-3 mb-3 "
                          max-width="296"
                          min-width="296"
                          max-height="64"
                          min-height="64"
                          data-test-pay_mptoken
                          @click="selectMethod(creditCard)"
                          ripple
                          color="Card-Color"
                        >
                          <v-card-text class="">
                            <div class="cardTopIz title-2 textUserCard"> {{creditCard.payment_method_id}}</div>
                            <div class="cardTopDch title-2 textUserCard"> {{creditCard.banck_card}}</div>
                            <div class="cardbottomIz caption-2 textUserCard"> {{creditCard.name_user_card}}</div>
                            <div class="cardbottomDch caption-2 textUserCard"> {{creditCard.last_four_digits}}</div>
                          </v-card-text>
                        </v-card>
                      </div>
                    </template>
                  </div>


                </v-container>
              </v-card-text>
              <v-snackbar v-model="snackError" color="blue darken-2" top :timeout="5000" class="ma-3" multiLine>
                <v-layout wrap>
                  <v-flex class="text-left">
                    <span class="purpleColor font-weight-bold subtitle-1" v-html="$t('MsgError')"></span>
                  </v-flex>
                </v-layout>
              </v-snackbar>
            </v-card>
          </div>
        </v-flex>
      </template>
    </Wrapper>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import Axios from "axios";
import Breadcrumbs from '@/modules/core/components/Breadcrumbs';

export default {
  name:'PaymentMethods',
  components: {Breadcrumbs},
  data() {
    return {
      array: [1, 2, 3],
      customCountryMessage: ["CO"],
      cards: [],
      snackError: false,
      assists: 1
    };
  },
  async created() {
    this.assists = this.$route.params.quantity_assists
    await this.getAssistence(this.$route.params.title_id)
    .then(response => {
      console.log(response);
    })
    .catch(e => {
      this.$router.push({'name': 'home'})   
    })
  },
  computed: {
    ...mapState("assistance", ["assistance", "user_balance_available", "buyApiResponse", "user_amount_available"]),
    ...mapState("user", ["userId"]),
    showCountryMessage() {
      return this.customCountryMessage.includes(this.current.country);
    },
    countryMessage() {
      return this.$t("messages." + this.current.country.toLowerCase(), {
        termsUrl: process.env["VUE_APP_TERMS_" + this.current.country],
      });
    },
     
  },
  methods: {
    ...mapActions("assistance", ["getAssistence", "getUserBalanceAvailable", "getAmountUserAvailable"]),
    async gotoPayMP(creditCard = null) {
      console.log('mercado_pago')
      this.$router.push({ name: 'assistance_resume', params: { card: creditCard.user_payment_method_id, method: 'mercado_pago' }});
    },
    async selectMethod(creditCard = null) {
      console.log(creditCard.user_payment_method_id);
      console.log('mercado_pago_token')
      this.$router.push({ name: 'assistance_resume', params: { card: creditCard.user_payment_method_id, method: 'mercado_pago_token' }});
    },
    refreshCards(){
      this.getActiveCreditCards();
    },
    gotoPayMyCard() {
      this.$router.push('user/cards');
    },
    gotoPayCash() {
      this.getUserBalanceAvailable();
    },
    async selectAvailableAmount() {
      this.setMethod("available_amount");
      let jsonCheckout = {
        currency: this.selectedCurrency.name,
        amount: this.amount,
        project_id: this.project.id,
      };
      await this.setCheckout(jsonCheckout);
    },
    async getActiveCreditCards() {
      await Axios.get(process.env.VUE_APP_API_BASE_URL + process.env.VUE_APP_API_VERSION_URL + "/user_payment_methods")
		  .then((resp) => {
        if(resp.status === 200 && resp.data) {
          this.cards = resp.data;
        }
      })
		  .catch(function(e) {
			console.log(e);
		  });
    }, 
    refreshAmount(){
      if( this.user_amount_available !== null) {
        return this.user_amount_available
      }
    }, 
  },
  watch: {
    async user_balance_available(v) {
      if(v !== null) {
        if(Number(v) >= this.assistance.amount) {
          this.$router.push({ name: 'assistance_resume', params: { title_id: this.assistance.slug, method: 'balance', 'quantity_assists': this.assists }});
        }else {
          this.snackError = true
        }
      }
    },
    selectedCurrency(v) {
      this.setMethod("");
    },
    checkout(v) {
      this.goToStep("summary");
    },
    buyApiResponse(v) {
      let status = v.status && v.status === 'confirmed' ? 'aprobado' : 'rechazado';
      this.$router.push('/asistencias/' + this.$route.params.title_id + '/' + status);
    }
  },
  beforeMount() {
    this.getActiveCreditCards();
    this.getAmountUserAvailable({userId : this.userId});
  }
};
</script>

<style scoped>
.no-point{
  cursor: not-allowed !important;
}
.iconLook{
  font-size: 42px!important;
  position: relative;
  float: left;
  padding-top: 5px;
}
.textCardTwoLine {
  margin-top: 5px;
}
.textCard {
  margin-top: 15px;
}
.textUserCard {
  color: #fff!important;
  padding: 6px;
}
.cardTopIz { 
  position: absolute; 
  top: 0px; 
  left: 0px; 
} 
.cardTopDch { 
  position: absolute; 
  top: 0px; 
  right: 0px; 
} 
.cardbottomIz { 
  position: absolute; 
  bottom: 0px; 
  left: 0px; 
} 
.cardbottomDch { 
  position: absolute; 
  bottom: 0px; 
  right: 0px; 
} 

  /* modal card*/
.Card-Color {
  position: relative;
  width: 280px;
  height: 160px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  background-color: #828282;
}
.cardTopIzm { 
  position: absolute; 
  top: 0px; 
  left: 0px; 
  margin: 5px;
} 
.cardTopDchm { 
  position: absolute; 
  top: 0px; 
  right: 0px; 
  margin: 5px;
} 
.cardbottomIzm { 
  position: absolute; 
  bottom: 0px; 
  left: 0px; 
  margin: 5px;
} 
.cardbottomDchm { 
  position: absolute; 
  bottom: 0px; 
  right: 0px; 
  margin: 5px;
} 
.cardcenterm {
   position: absolute; 
   width: 100%;
   top: 85px;
   text-align: left;
   margin: 5px;
}
 /* modal card*/
 .textLeft {
  text-align: left;
  position: relative;
  top: -40px;
  left: 100px;
 }
 .flag{
  width: 48px;
  height: 48px;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 18px;
  border-radius: 100%;
 }
</style>