<i18n src="../locales/index.json"></i18n>

<template>
  <div>
    <Breadcrumbs backEvent="prevStep" :back="true" :title="$t('methods.breadcrumb')" @prevStep="$router.push('/asistencias/' + assistance.slug)"></Breadcrumbs>

    <Wrapper>
      <template slot="content">
        <v-flex class="pt-8 pb-8">
          <v-row>
            <v-col cols="12">
              <v-card max-width="100%" class="mx-auto" :class="[isXsSm() ? 'pa-0 pt-3' : 'pa-5']" elevation="0" rounded="0">
                <v-card-text>
                  <h2 class="black--text" :class="isXsSm() ? 'headline' : 'headline'">
                    {{ $t('methods.title') }}
                  </h2>
                  <v-layout row class="pa-3 pt-7">
                    <div v-for="(item, key) in payment_methods" :key="key">
                      <div v-if="item.name != 'mercado_pago'">
                        <v-card
                          ripple
                          class="cardHover centerContent text-center pa-0 ma-0 mr-3 mb-3"
                          max-width="148"
                          min-width="148"
                          max-height="128"
                          min-height="128"
                          data-test-payment-other
                          @click="selectMethod(item)">
                          <v-card-text class="lineHeight17 pa-3">
                            <v-icon class="ma-0 mb-2" size="32" color="grey">
                              {{ getIcon(item.name) }}
                            </v-icon><br />
                            <span v-html="$t(`methods.${item.name}`)"></span>
                          </v-card-text>
                        </v-card>
                      </div>
                      <v-layout row class="pa-0 ma-0" v-if="item.name == 'mercado_pago'">
                        <v-card
                          ripple
                          class="cardHover centerContent text-center pa-0 ma-0 mr-3 mb-3"
                          max-width="148"
                          min-width="148"
                          max-height="128"
                          min-height="128"
                          data-test-payment-mercadopago
                          @click="selectMethod(item)"
                          v-for="(i,k) in [1,2]" :key="k">
                          <v-card-text class="lineHeight17 pa-3">
                            <v-icon class="ma-0 mb-2" size="32" color="grey">
                              {{ getIcon(item.name) }}
                            </v-icon><br />
                            <span v-html="$t(`methods.${item.name}-${i}`)"></span>
                          </v-card-text>
                        </v-card>
                      </v-layout>
                    </div>
                  </v-layout>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-flex>
      </template>
    </Wrapper>
  </div>
</template>
<script>
import { mapActions, mapState } from 'vuex';
import Breadcrumbs from '@/modules/core/components/Breadcrumbs';

export default {
  components: { Breadcrumbs },
  data() {
    return {
      payment_methods: [
        { name: 'mercado_pago' },
        { name: 'available_amount' },
      ]
    }
  },
  head: {
    title: {
      inner: 'SeSocio - Invertí en los proyectos más rentables sin monto mínimo'
    },
    // Meta tags
    meta: [
    ],
  },
  computed: {
    ...mapState("assistance", ["assistance"])
  },
  methods: {
    ...mapActions("assistance", ["getAssistence"]),
    selectMethod(item) {
      if(item.name === 'mercado_pago') {
        window.location.href = this.assistance.mp_link;
        return;
      }
    },
    getIcon: function(method) {
      switch (method) {
        case "bank_transfer":
          return "mdi-bank-transfer";
        case "mercado_pago":
          return "mdi-credit-card";
        case "rapi_pago":
          return "mdi-cash-usd";
        case "available_amount":
          return "mdi-cash-multiple";
        default:
          return "";
      }
    },
  },
  async beforeMount() {
    await this.getAssistence(this.$route.params.title_id);
  }
};
</script>
