<i18n src="../locales/index.json"></i18n>

<template>
  <div>
    <Breadcrumbs backEvent="prevStep" :back="true" :title="$t('methods.breadcrumb')" @prevStep="$router.push('/asistencias/' + assistance.slug)"></Breadcrumbs>

    <Wrapper>
      <template slot="content">
        <v-flex>
          <div class="py-5" :class="{'px-4': isXsSm()}">
            <v-card class="mx-auto" elevation="0" rounded="0" :flat="isXsSm()" :class="{'pa-5': isXsSm()}">
              <v-card-text :class="{'pa-0': isXsSm()}">
                <v-container fluid :class="{'pa-0': isXsSm()}">
                  <div class="mb-5 title black--text">{{ assistance.title }}</div>
                  <v-divider></v-divider>
                  
                  <h1 class="font-weight-light mb-5 mt-7">{{ $t('resume.almost_done') }}</h1>
                  <div class="d-flex flex-wrap">
                    <div class="pb-4">{{ $t('resume.check_data_message') }}</div>
                  </div>
                  <div class="d-flex flex-wrap">
                    <v-card class="amountsData">
                      <v-card-text class="pa-0">
                        <v-card-title class="flex-row pa-0">
                          <v-list no-action class="col-12 pa-0">
                            <v-list-item>
                              <v-list-item-content class="pa-5 amountsData-listContent">
                                <v-list-item-title class="d-flex flex-row align-center amountData-content">
                                  <div class="col col-8 pa-0 amountData-text">
                                    <span>{{ $t('resume.total_to_pay') }}</span> por <strong> {{quantity}} </strong>
                                    <span v-if="quantity == 1">asistencia</span> <span v-else>asistencias</span>
                                    <br/>
                                    <span>{{methodPay}}</span>
                                  </div>
                                  <div class="col col-4 pa-0 text-left amountData-amount">
                                    <span class="title font-weight-bold text-uppercase black--text">
                                      {{userTotal}} IARS
                                    </span>
                                  </div>
                                </v-list-item-title>
                              </v-list-item-content>
                            </v-list-item>
                          </v-list>
                        </v-card-title>
                      </v-card-text>
                    </v-card>
                  </div>

                  <div class="d-flex flex-wrap">
                    <div class="col3 grey lighten-4 pl-4 mt-5">
                      <v-checkbox v-model="recurrent"></v-checkbox>
                    </div> 
                    <div class="col grey lighten-4 mt-5">
                      <strong class="body-1 grey--text text--darken-1 mt-text">{{ $t('resume.remember_confirmation') }}</strong><br/><br/>
                      <div v-if="recurrent">
                        <span v-html="$t('resume.warning')"> </span>
                      </div>
                      
                    </div>
                  </div>
                </v-container>
              </v-card-text>

              <v-card-actions class="pb-12">
                <v-btn data-test-do_pay color="primary" width="200" class="mx-auto" @click="doPay">
                  {{ $t('resume.confirm') }}
                </v-btn>
              </v-card-actions>
            </v-card>
          </div>
        </v-flex>
      </template>
    </Wrapper>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import Breadcrumbs from '@/modules/core/components/Breadcrumbs';

export default {
  components: { Breadcrumbs },
   data() {
    return {
      methodPay: '',
      recurrent: true,
      quantity: 1,
      userTotal: null,
    }
  },
  computed: {
    ...mapState("assistance", ["assistance", "buyApiResponse","user_amount_available"]),
    ...mapState("user", ["userId"]),
    total() {return (parseFloat(this.assistance.amount) * parseFloat(this.$route.params.quantity_assists))} ,
  },
  methods: {
    ...mapActions("assistance", ["buyAssistance", "getAmountUserAvailable"]),
    doPay() {
      if(this.assistance) {
        this.buyAssistance(
          { 
            assistanceId: this.assistance.id, 
            userId: this.userId, 
            paymentMethod: this.$route.params.method, 
            quantity_assists: this.quantity,
            available: this.user_amount_available,
            recurrent_payment: this.recurrent,
          });
      }
    }
  },
  watch: {
    buyApiResponse(v) {
      /* let status = v.status && v.status === 'confirmed' ? 'success' : 'rejected'; */
      let status = v[0].status && v[0].status === 'confirmed' ? 'aprobado' : 'rechazado';
      this.$router.push('/asistencias/' + this.$route.params.title_id + '/' + status);
    }
  },
  beforeMount() {
    this.userTotal = localStorage.getItem('TotalPay')
    this.quantity = (localStorage.getItem('Quantity'))? localStorage.getItem('Quantity') : 1
    let methodP = this.$route.params.method;
    console.log(this.quantity)
    if(methodP === 'balance'){
      this.methodPay = 'Saldo Sesocio'
    }else if (methodP === 'balance') {
        this.methodPay = 'Mercado Pago'
    } else {
      this.methodPay = 'Tarjeta Mercado Pago'
    }
    this.getAmountUserAvailable({userId : this.userId});  
    /* if(!this.assistance.id) {
      this.$router.push('/assistance/' + this.$route.params.title_idconsola);
    } */
  }
}
</script>

<style scoped>
  .mt-text{
    position: relative;
    top: 10px;
  }
  .amountsData {
    min-width: 475px;
    max-width: 475px;
  }

  @media screen and (max-width: 480px) {
    .amountsData {
      min-width: 320px;
      max-width: 320px;
    }

    .amountsData-listContent {
      padding: 10px 5px !important;
    }

    .amountData-content {
      display:flex !important;
      flex-direction: column !important;
      padding: 0 5px !important;
    }

    .amountData-amount, .amountData-text {
      min-width: 100% !important;
      max-width: 100% !important;
    }

    .amountData-text {
      font-size: 14px !important;
      margin-top: 8px;
      color: #757575 !important;
    }

    .rememberBox {
      padding-left: 28px !important;
      padding-right: 28px !important;
    }
  }
</style>