<template>
  <div>
    <Wrapper>
      <template slot="content">
        <v-flex>
          <div class="squareBorder pt-5 pb-5">
            <v-card class="mx-auto squareBorder bckWhite" :flat="isXsSm()" :class="{'pa-5': isXsSm()}">
              <v-card-text :class="{'pa-0': isXsSm()}">
                <v-container fluid :class="{'pa-0': isXsSm()}">
                  <div class="mb-5 title black--text">{{ assistance.title }}</div>
                  <v-divider></v-divider>
                  <component :is="status" :assistance="assistance" :isLoggedIn="isLoggedIn" />
                </v-container>
              </v-card-text>
            </v-card>
          </div>
        </v-flex>
      </template>
    </Wrapper>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import Success from '../components/Success';
import Pending from '../components/Pending';
import Rejected from '../components/Rejected';

export default {
  components: {
    success: Success,
    pending: Pending,
    rejected: Rejected,
  },
  data() {
    return {
      status: null
    }
  },
  computed: {
    ...mapState("assistance", ["assistance"]),
    ...mapState("user", ["isLoggedIn"])
  },
  methods: {
    ...mapActions("assistance", ["getAssistence"])
  },
  beforeMount() {
    this.status = this.$route.name;
    this.getAssistence(this.$route.params.title_id);
  }
}
</script>