<i18n>
{
  "es": {
    "title": "Términos y Condiciones"
  },
  "en": {
    "title": "Terms and conditions"
  }
}
</i18n>

<template>
  <div>
    <Wrapper>
      <template slot="content">
        <v-flex>
          <div class="squareBorder pt-5 pb-5">
            <v-card class="mx-auto squareBorder bckWhite" :flat="isXsSm()" :class="{'pa-5': isXsSm()}">
              <v-card-text :class="{'pa-0': isXsSm()}">
                <v-container fluid :class="{'pa-0': isXsSm()}">
                  <div class="mb-5 title black--text">{{ $t('title') }}</div>
                  <v-divider></v-divider>
                  <div
                    class="mt-5"
                  >
                    <center>
                      <embed
                        :src="assistance.terms" type="application/pdf" width="80%" class="resize-height"
                      />
                    </center>
                  </div>
                </v-container>
              </v-card-text>
            </v-card>
          </div>
        </v-flex>
      </template>
    </Wrapper>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  computed: {
    ...mapState("assistance", ["assistance"])
  },
  methods: {
    ...mapActions("assistance", ["getAssistence"]),
  },
  async beforeMount() {
    await this.getAssistence(this.$route.params.title_id);
  }
}
</script>

<style scoped>
  .resize-height{
    height: 700px;
  }

  @media only screen and (max-width: 1023px){
    .resize-height{
      height: 600px;
    }
  }

  @media only screen and (max-width: 734px){
    .resize-height{
      height: 400px;
    }
  }
</style>