<i18n>
{
    "en": {
        "title": "¿Tenés dudas sobre cómo contratar este servicio?",
        "summary": "¡No te preocupes! Solo tenés que llenar el formulario con tus datos y un ejecutivo de cuentas se pondrá en contacto con vos para ayudarte en lo que necesites."
    },
    "es": {
        "title": "¿Tenés dudas sobre cómo contratar este servicio?",
        "summary": "¡No te preocupes! Solo tenés que llenar el formulario con tus datos y un ejecutivo de cuentas se pondrá en contacto con vos para ayudarte en lo que necesites."
    },
    "es-AR": {
        "title": "¿Tenés dudas sobre cómo contratar este servicio?",
        "summary": "¡No te preocupes! Solo tenés que llenar el formulario con tus datos y un ejecutivo de cuentas se pondrá en contacto con vos para ayudarte en lo que necesites."
    }
}
</i18n>
<template>
  <div>
    <Wrapper mainContainerClass="bgWhite">
      <template slot="content">
        <div class="d-flex my-7" :class="{'flex-column pl-0 pr-0': isXsSm(), 'flex-row': isXsSm()}">
          <v-col cols="12" class="pa-0 ma-0 d-flex flex-column justify-center">
            <div>
              <v-row>
                <v-col>
                  <h2 :class="$vuetify.breakpoint.xs ? 'headline' : 'display-1'">{{ $t("title") }}</h2>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <span class="title-secondary">{{$t('summary')}}</span>
                </v-col>
              </v-row>
              <div class="mt-5b text-center">
                <template v-if="!isLoggedIn">
                  <v-btn :block="isXsSm()" @click="setShowHideContactDialog(true)" :class="{'ml-4': !isXsSm(), 'mt-4': isXsSm()}" color="primary" class="bgWhite" outlined large>
                    Contactar a un ejecutivo
                  </v-btn>
                </template>
                <template v-else>
                  <v-btn :block="isXsSm()" v-if="current.newsletter_support_type == 2" to="/executive" :class="{'ml-4': !isXsSm(), 'mt-4': isXsSm()}" color="primary" class="bgWhite" outlined large>
                    Contactar a mi ejecutivo
                  </v-btn>
                </template>
              </div>
            </div>
          </v-col>
        </div>
      </template>
    </Wrapper>
  </div>
</template>
<script>
import { mapActions, mapState } from "vuex";
import Axios from 'axios';
export default {
  components: {},
  props: {},
  data() {
    return {
    };
  },
  computed: {
    ...mapState("user", ["isLoggedIn", "current"]),
  },
  methods: {
    ...mapActions("core", ["setShowHideContactDialog"]),
  },
};
</script>

<style scoped>
  .blockPadding {
    padding-top: 22px;
    padding-bottom: 22px;
  }
</style>
