<i18n src="../locales/assistances.json"></i18n>

<template>
  <Wrapper mainContainerClass="bgWhite">
    <template slot="content">
      <v-flex class="pt-8" :class="[isXsSm() ? 'pl-4 pr-4' : 'pb-8']">

        <v-row class="mx-auto">
          <v-col class="px-0">
            <h2 :class="$vuetify.breakpoint.xs ? 'headline' : 'display-1'">
              {{$t('title')}}
            </h2>
          </v-col>
        </v-row>

        <v-row class="px-0 mx-auto">
          <v-col class="title-secondary ma-0 px-0">
            {{ $t("summary") }}
          </v-col>
        </v-row>

        <v-row>
          <template v-for="assistance in assistances">
            <v-col cols="12" sm="6" md="4">
              <v-hover>
                <template v-slot="{ hover }">
                  <v-card
                    :id="`data-test-assistance-${assistance.slug}`"
                    max-width="100%"
                    class="mx-auto"
                    :elevation="hover ? 6 : 2"
                    light
                    data-test-assistance
                    
                    @click="goPayAssistance(assistance.slug)"
                    >
                    <!-- :style="require(`../../../assets/img/brands/${assistance.large_image}.png`)" -->  
                    <v-img :src="require(`../../../assets/img/assistances/${assistance.image_card}.png`)" />
                    <div class="flagWrapper">
                      <flag iso="AR" class="flag" :squared="false"></flag>
                    </div>
                    <v-list-item>
                      <v-list-item-content class="pb-0">
                        <v-list-item-title class="headline">{{assistance.title}}</v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>

                    <v-card-text class="pt-2 pb-8 body-2 black--text">
                      {{assistance.summary}}
                    </v-card-text>

                    <v-divider class="ml-4 mr-4"></v-divider>
                    <v-card-actions class="justify-center pt-5 pb-5 flex-column">
                      <div class="d-flex flex-row justify-center align-center">
                        <span class="title-3">{{$t('only')}} $ {{assistance.amount}}</span> <span class="body-2 ml-2" color="#424242">{{$t('per_month')}}</span>
                      </div>
                      <div
                        v-if="assistance.slug == 'asistencia-para-mascotas-arg'"
                        class="d-flex flex-row justify-center align-center"
                      >
                        <span
                          class="body-2" color="#424242">{{ $t('then_amount', {amount: '450'}) }}
                        </span>
                      </div>
                      <div
                        v-else-if="assistance.slug == 'asistencia-en-la-via-publica-arg'"
                        class="d-flex flex-row justify-center align-center"
                      >
                        <span
                          class="body-2" color="#424242">{{ $t('then_amount', {amount: '105'}) }}
                        </span>
                      </div>
                      <div
                        v-else-if="assistance.slug == 'asistencia-para-el-hogar-arg'"
                        class="d-flex flex-row justify-center align-center"
                      >
                        <span
                          class="body-2" color="#424242">{{ $t('then_amount', {amount: '195'}) }}
                        </span>
                      </div>
                    </v-card-actions>
                  </v-card>
                </template>
              </v-hover>
            </v-col>
          </template>
        </v-row>
      </v-flex>
    </template>
  </Wrapper>
</template>
<script>
import { mapActions, mapState } from "vuex";
export default {
  components: {},
  data() {
    return {
    }
  },
  computed: {
    ...mapState("assistance", ["assistances"]),
    ...mapState("user", ["current", "isLoggedIn"]),
  },
  methods: {
    ...mapActions("assistance", ["getAssistences"]),
    ...mapActions("onboarding_dialog", ["openOnboardingDialog", "goToDialogStep", "goToInitStep"]),
    goPayAssistance(p_asistance) {
      let banned_types = this.current.banned_type;

      if(banned_types && banned_types[0] === 'totally_banned') {
        this.$router.push({ path: '/asistencias/completar-documentacion' });
        return;
      }
      if(this.current.country && this.current.country !== 'AR') {
        this.$router.push({ path: `/asistencias/no-disponible/${p_asistance}` });
        return;
      }
      if(this.isLoggedIn) {
        this.$router.push({ path: `/asistencias/${p_asistance}` });
      } else {
        this.openOnboardingDialog(`/asistencias/${p_asistance}`);
        this.goToDialogStep(1);
        this.goToInitStep(1);
      }
    },
  },
  created() {
    this.getAssistences();
  }
};
</script>
<style lang="scss" scoped>
  .flagWrapper {
    margin-top: -30px;
    margin-bottom: 18px;
    margin-left: 15px;
  }

  .avatarWrapper {
    position:relative;
  }

  .avatarAbs {
    position:absolute;
    top: -45px;
    right: 15px;
  }

  .flag {
    line-height: 0.8em;
    border: 2px solid #fff;
  }

  .noBorder {
    border-radius: initial !important;
  }
</style>
