<i18n>
{
    "en": {
        "title": "Asistencias contratadas",
        "subtitle": "¿Ya no necesitás alguna de tus asistencias?",
        "summary": ""
    },
    "es": {
        "title": "Asistencias contratadas",
        "subtitle": "¿Ya no necesitás alguna de tus asistencias?",
        "summary": ""
    },
    "es-AR": {
        "title": "Asistencias contratadas",
        "subtitle": "¿Ya no necesitás alguna de tus asistencias?",
        "summary": ""
    }
}
</i18n>
<template>
  <div>
    <Wrapper mainContainerClass="bgWhite">
      <template slot="content">
        <div
          class="d-flex my-7"
          :class="{ 'flex-column pl-0 pr-0': isXsSm(), 'flex-row': isXsSm() }"
        >
          <v-col cols="12" class="pa-0 ma-0 d-flex flex-column justify-center">
            <div>
              <v-row>
                <v-col>
                  <h2
                    :class="$vuetify.breakpoint.xs ? 'headline' : 'display-1'"
                  ></h2>
                </v-col>
              </v-row>

              <v-row>
                <v-col>
                  <template>
                    <v-row class="container pa-0 ma-0 justify-center container--fluid fill-height bgWhite">
                      <v-dialog v-model="dialog" scrollable max-width="680px">
                        <template v-slot:activator="{ on, attrs }">
                          <v-row>
                            <v-col>
                              <h2
                                style="margin= 10px"
                                :class="
                                  $vuetify.breakpoint.xs
                                    ? 'headline'
                                    : 'display-1'
                                "
                              >
                                {{ $t("subtitle") }}
                              </h2>
                            </v-col>
                          </v-row>
                          <v-row>
                            <v-col>
                              <span class="title-secondary ml-4">
                                Hace
                                <a v-bind="attrs" v-on="on"><b>click acá</b></a>
                                y elegí que asistencia querés cancelar.
                              </span>
                            </v-col>
                          </v-row>
                        </template>
                        <v-card>
                          <v-card-title class="name-bold">{{ $t("title") }}</v-card-title>
                          <v-divider></v-divider>
                          <div class="text-center justify-center flex-column">
                            <div v-if="showmsj" class="subtitle-2 mt-5 mb-5">            
                              <v-container bg fill-height grid-list-md text-xs-center>
                                <v-layout row wrap align-center>
                                  <v-flex style="text-align: -webkit-center">
                                    <div v-if="confirm">
                                      <h2 class="mb-5">Asistencia cancelada</h2>
                                      <v-img width="133px" height="118px" :src="require(`../../../assets/img/assistances/icon-resp.png`)"/>
                                      
                                      <p>Hasta pronto, estaríamos encantados que vuelvas.</p>      
                                      <p>{{dateremove}}</p>                
                                    </div>
                                    <div v-else class="mt-5 mb-5"> {{ textmsj }} </div>
                                    <v-btn data-test-go_to_terms @click="showModal()"
                                      color="primary"
                                      width="200"
                                      >Volver</v-btn
                                    >
                                  </v-flex>
                                </v-layout>
                              </v-container>
                            </div>
                            <div v-if="!showmsj" style="margin-top: 10px;">
                              <v-container bg fill-height grid-list-md text-xs-center>
                                <v-layout row wrap align-center>
                                  <v-flex style="text-align: -webkit-center">
                                  <div class="cardContainer" >
                                    <v-tooltip top>
                                      <template v-slot:activator="{ on, attrs }">
                                        <div class="card" v-if="pet" v-bind="attrs" v-on="on">
                                          <v-card
                                            max-width="100%"
                                            class="mx-auto"
                                            :elevation="2"
                                            light
                                          >
                                            <v-img
                                              :src="
                                                require(`../../../assets/img/assistances/mascotas_card.png`)
                                              "
                                            />
                                            <v-list-item>
                                              <v-list-item-content class="pb-0">
                                                <h3 class="name-bold"> 
                                                  Asistencia para Mascotas
                                                </h3>
                                              </v-list-item-content>
                                            </v-list-item>
                                            
                                            <v-card-actions
                                              class="
                                                justify-center
                                                pt-5
                                                pb-5
                                                flex-column
                                              "
                                            >
                                              <div
                                                class="
                                                  d-flex
                                                  flex-row
                                                  justify-center
                                                  align-center
                                                "
                                              >
                                                <v-btn color="#ff97e2" width="160" height="40" @click="cancelAssistance(petId)">Cancelar </v-btn>
                                              </div>
                                            </v-card-actions>
                                          </v-card>
                                        </div>
                                      </template>
                                      <span style="width: 80px!important; height: 100px!important;">
                                        ¡Atención! si tenés más de una Asistencia de Mascota <br/>
                                        al solicitar la baja cancelaremos la cobertura de todas. <br/>
                                        Pero no te preocupes podés volver a solicitar el alta.</span>
                                    </v-tooltip>
                                    <div class="card" v-if="home">
                                      <v-card
                                        max-width="100%"
                                        class="mx-auto"
                                        :elevation="2"
                                        light
                                      >
                                        <v-img
                                          :src="
                                            require(`../../../assets/img/assistances/hogar_card.png`)
                                          "
                                        />
                                      
                                        <v-list-item>
                                          <v-list-item-content class="pb-0">
                                          <h3 class="name-bold"> 
                                            Asistencia para el Hogar
                                            </h3>
                                          </v-list-item-content>
                                        </v-list-item>
                                        
                                        <v-card-actions
                                          class="
                                            justify-center
                                            pt-5
                                            pb-5
                                            flex-column
                                          "
                                        >
                                          <div
                                            class="
                                              d-flex
                                              flex-row
                                              justify-center
                                              align-center
                                            "
                                          >
                                            <v-btn color="#ff97e2" width="160" height="40" @click="cancelAssistance(homeId)">Cancelar </v-btn>
                                          </div>
                                        </v-card-actions>
                                      </v-card>
                                    </div>
                                    <div class="card" v-if="via">
                                      <v-card
                                        max-width="100%"
                                        class="mx-auto"
                                        :elevation="2"
                                        light
                                      >
                                        <v-img
                                          :src="
                                            require(`../../../assets/img/assistances/viapublica_card.png`)
                                          "
                                        />
                                      
                                        <v-list-item>
                                          <v-list-item-content class="pb-0">
                                            <h3 class="name-bold">  
                                              Asistencia en la Vía Pública
                                            </h3>
                                          </v-list-item-content>
                                        </v-list-item>
                                        
                                        <v-card-actions
                                          class="
                                            justify-center
                                            pt-5
                                            pb-5
                                            flex-column
                                          "
                                        >
                                          <div
                                            class="
                                              d-flex
                                              flex-row
                                              justify-center
                                              align-center
                                            "
                                          >
                                          <v-btn color="#ff97e2" width="160" height="40" @click="cancelAssistance(viaId)">Cancelar </v-btn>
                                          </div>
                                        </v-card-actions>
                                      </v-card>
                                    </div>
                                  </div>
                                  </v-flex>
                                </v-layout>
                              </v-container>
                            </div>
                          </div>
                          <v-divider></v-divider>
                          <v-card-actions class="d-flex flex-row-reverse">
        
                          </v-card-actions>
                        </v-card>
                      </v-dialog>
                    </v-row>
                  </template>
                </v-col>
              </v-row>
            </div>
          </v-col>
        </div>
      </template>
    </Wrapper>
  </div>
</template>
<script>
import { mapActions, mapState } from "vuex";
import Axios from "axios";
export default {
  components: {},
  props: {},
  data() {
    return {
      dialog: false,
      showmsj: false,
      confirm: false,
      pet: false,
      home: false,
      via: false,
      dateremove: null,
      assistances: [],
      textmsj:'',
      petId: null,
      homeId: null,
      viaId: null,
    };
  },
  computed: {
    ...mapState("user", ["isLoggedIn", "current"]),
  },
  methods: {
    ...mapActions("core", ["setShowHideContactDialog"]),
    showModal() {
      this.assistances = [];
      this.getAssistance();
      this.dialog = !this.dialog;
      this.showmsj = false;
      this.confirm = false;

    },
    async getAssistance() {
      await Axios.get(
        process.env.VUE_APP_API_ASSISTANCE_URL +
          process.env.VUE_APP_API_ASSISTANCE_VERSION_URL +
          "/listUserAssistances"
      )
        .then((resp) => {
          if (resp.status === 200 && resp.data) {
            if (resp.data.data.assistances.length != 0) {
              this.assistances = resp.data.data.assistances;
              //console.log(this.assistances)
              this.assistances.forEach((element) => {
                if (element.name.includes("Mascotas")) {
                  this.pet = true;
                  this.petId = element.user_assistance_id
                } else if (element.name.includes("Hogar")) {
                  this.homeId = element.user_assistance_id
                  this.home = true;
                } else if (element.name.includes("Vía")) {
                  this.viaId = element.user_assistance_id
                  this.via = true;
                }
              });
              //console.log(this.pet);
              //console.log(this.home);
              //console.log(this.via);
            } else {
              this.textmsj = resp.data.data.textmsj;
              this.confirm = false;
              this.showmsj = true;
            }
          }
        })
        .catch(function (e) {
          console.log(e);
        });
    },
    async cancelAssistance(id) {
      let json = {"assistance_id": id };
      //console.log("cancelar--> " + id);
      //console.log(json);
      await Axios.post(process.env.VUE_APP_API_ASSISTANCE_URL +
        "/public/unsubscribeAssistance",
      json
    ).then((resp) => {
          if (resp.status === 200 && resp.data) {
            //console.log(resp.data);
            this.dateremove = resp.data.data;
            this.showmsj = true;
            this.confirm = true;
          }
        })
        .catch(function (e) {
          console.log(e);
        });
    },
  },
  async created() {
    //console.log('--')
    //console.log(this.assistances)
    await this.getAssistance();
  },
};
</script>

<style scoped>
.blockPadding {
  padding-top: 22px;
  padding-bottom: 22px;
}
.card {
  color: white;
  float: left;
  width: calc(31%);
  border-radius: 10px;
  margin: 5px;
}
.cardContainer {
  margin-left: 18px; 
}
.cardContainer:after {
  content: "";
  display: table;
  clear: both;
}
.name-bold{
  font-weight: bold!important;
}
@media screen and (max-width: 600px) {
  .card {
    width: 318px;
  }
}
</style>
