<i18n>
{
  "en": {
  },
  "es": {
  },
  "es-AR": {
  }
}
</i18n>
<template>
  <div>
    <Wrapper style="background-color: white!important;">
      <template slot="content">
        <div class="pt-5 pb-5">
            <v-row
              class="d-flex flex-row contentSpaceAround align-center justify-start"
            >
              <template>
                <v-container>
                  <v-card
                      elevation="2"
                    >
                  <v-row no-gutters>
                    
                      <v-col cols="12" sm="3">                    
                          <div class="mt-10">
                            <div class="text-center">
                              <h1>
                                Contacto:
                              </h1>
                            </div>
                          </div>     
                      </v-col>
                      <v-col cols="12" sm="3">
                        <div class="pa-2">
                          <div class="mt-2 text-center">
                            <img
                                :src="
                                  require(`../../../assets/img/assistances/icon/icono-celular.svg`)
                                "
                              /><br/>
                              <b>1134427999</b>
                          </div>
                          
                        </div>
                      </v-col>
                      <v-col cols="12" sm="3">
                        <div class="pa-2">
                          <div class="mt-2 text-center">
                            <img
                                :src="
                                  require(`../../../assets/img/assistances/icon/icono-telefono.svg`)
                                "
                              /><br/>
                              <b>0800-122-2747</b>
                          </div>
                        </div>
                      </v-col>
                      <v-col cols="12" sm="3">
                        <div class="pa-2">
                          <div class="mt-2 text-center">
                            <img
                                :src="
                                  require(`../../../assets/img/assistances/icon/icono-web.svg`)
                                "
                              /><br/>
                              <a class="ml-1 mr-1 black--text" target="_blank" href="https://www.atencionike.com.ar"><b>atencionike.com.ar</b></a>
                          </div>
                        </div>
                      </v-col>
                  </v-row> 
                  </v-card>
                </v-container>
              </template>
            </v-row>
        </div>
      </template>
    </Wrapper>
  </div>
</template>
<script>
import { mapActions, mapState } from "vuex";
import Axios from 'axios';
export default {
  components: {},
  computed: {
  },
};
</script>

<style scoped>
  .blockPadding {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .rounded20 {
    border-radius: 20px;
  }

  .avatarOutlined {
    border: 1px solid #0011cf;
  }

  .lh1_3 {
    line-height: 1.3;
  }

  .mH90 {
    min-height: 90px;
    /* max-height: 90px; */
  }
  .theme--light .v-card {
  border-top: 5px solid #ff97e2 !important;
}
</style>
