<i18n>
  {
      "en": {
          "title": "¿Estás listo para empezar a hacer crecer tu capital?",
          "invest": "Invierte en negocios",
          "buy": "Compra Criptomonedas",
          "operate": "Opera en Trading",
          "operate_otc": "Opera OTC",
          "donate": "Realiza Donaciones",
          "contact": "Contactanos",
          "news": "Novedades",
          "successful_projects": "Negocios Financiados",
          "team": "Equipo",
          "help": "Ayuda",
          "terms": "Términos y Condiciones",
          "risk": "Riesgos de inversión",
          "commission_table": "Tabla de Comisiones",
          "exchange_rates": "Cotización del día",
          "UK": "UK",
          "US": "US",
          "AR": "AR",
          "carrers": "Carrers",
          "tarifario_tarjetas": "Tarifario tarjetas",
          "fiduciarios": "Fiduciarios Digitales S.A",
          "assistances": "Asistencias",
          "post_my_project": "Publicar mi negocio",
          "insurance": "Seguros",
          "prepaid_card": "Tarjeta SeSocio"
      },
      "es": {
          "title": "¿Estás listo para empezar a hacer crecer tu capital?",
          "invest": "Invierte en negocios",
          "buy": "Compra Criptomonedas",
          "operate": "Opera en Trading",
          "operate_otc": "Opera OTC",
          "donate": "Realiza Donaciones",
          "contact": "Contactanos",
          "news": "Novedades",
          "successful_projects": "Negocios Financiados",
          "team": "Equipo",
          "help": "Ayuda",
          "terms": "Términos y Condiciones",
          "risk": "Riesgos de inversión",
          "commission_table": "Tabla de Comisiones",
          "exchange_rates": "Cotización del día",
          "UK": "UK",
          "US": "US",
          "AR": "AR",
          "carrers": "Trabaja con nosotros",
          "tarifario_tarjetas": "Tarifario tarjetas",
          "fiduciarios": "Fiduciarios Digitales S.A",
          "assistances": "Asistencias",
          "post_my_project": "Publicar mi negocio",
          "insurance": "Seguros",
          "prepaid_card": "Tarjeta SeSocio"
      },
      "es-AR": {
          "title": "¿Estás listo para empezar a hacer crecer tu capital?",
          "invest": "Invertí en negocios",
          "buy": "Comprá Criptomonedas",
          "operate": "Operá en Trading",
          "operate_otc": "Operá OTC",
          "donate": "Realizá Donaciones",
          "contact": "Contactanos",
          "news": "Novedades",
          "successful_projects": "Negocios Financiados",
          "team": "Equipo",
          "help": "Ayuda",
          "terms": "Términos y Condiciones",
          "risk": "Riesgos de inversión",
          "commission_table": "Tabla de Comisiones",
          "exchange_rates": "Cotización del día",
          "UK": "UK",
          "US": "US",
          "AR": "AR",
          "carrers": "Trabajá con nosotros",
          "tarifario_tarjetas": "Tarifario tarjetas",
          "fiduciarios": "Fiduciarios Digitales S.A",
          "assistances": "Asistencias",
          "post_my_project": "Publicar mi negocio",
          "insurance": "Seguros",
          "prepaid_card": "Tarjeta SeSocio"
      }
  }
</i18n>
 
<template>
  <Wrapper mainContainerClass="bgGreen">
    <template slot="content">
      <div class="d-flex flex-column">
        <v-row class="pa-8 pb-0 d-flex justify-center" :class="{'flex-row': !isXsSm(), 'flex-column': isXsSm()}">
          <v-col class="colCustomWidth black--text">
            <a href="/">
              <v-img :src="require('@/assets/logo.svg')" height="50px" width="104px" contain class="mb-4"/>
            </a>
            <a class="ml-1 mr-1 black--text" target="_blank" href="https://www.facebook.com/SeSociocom-1796199480606293"><v-icon>mdi-facebook</v-icon></a>
            <a class="ml-1 mr-1 black--text" target="_blank" href="https://twitter.com/sesociocom"><v-icon>mdi-twitter</v-icon></a>
            <a class="ml-1 mr-1 black--text" target="_blank" href="https://www.linkedin.com/company/sesocio.com"><v-icon>mdi-linkedin</v-icon></a>
            <a class="ml-1 mr-1 black--text" target="_blank" href="https://www.instagram.com/sesociocom"><v-icon>mdi-instagram</v-icon></a>
          </v-col>
          
          <v-col class="colCustomWidth black--text body-1">
            <span class="subtitle-2">{{services.name}} {{country}}</span>
            <ul class="ListNoStyle">
              <template v-for="service in services.items">
                <li v-if="!service.app"><a :href="url_base_main + service.link">{{$t(service.name)}}</a></li>
                <li v-else-if="service.app == 'card' && country == 'AR'"> <a :href="url_base_card" > Tarjeta SeSocio </a></li>
                <li v-else-if="service.app == 'assistence'  && country == 'AR'"> <a :href="url_base_assistance" > {{$t(service.name)}} </a></li>
                <li  v-else-if="service.app == 'protection'  && country == 'AR'"> <a :href="url_base_protection" > {{$t(service.name)}} </a></li>
              </template>
            </ul>
          </v-col>
          <v-col class="colCustomWidth black--text body-1">
            <span class="subtitle-2">{{sitemap.name}}</span>
            <ul class="ListNoStyle">
              <template v-for="item in sitemap.items">
                <li><a :href="url_base_main + item.link" target="_top">{{item.name}}</a></li>
              </template>
            </ul>
          </v-col>
          <v-col class="colCustomWidth black--text body-1">
            <ul class="ListNoStyle">
              <template v-for="o in other.items">
                <li><a :href="(o.external) ? o.link : url_base_main + o.link" target="_top">{{o.name}}</a></li>
              </template>
            </ul>
          </v-col>
          <v-col class="colCustomWidth black--text body-1">
            <ul class="ListNoStyle">
              <template v-for="a in address">
                <li><strong>{{a.name}}:</strong> {{a.phone}} {{a.address}}</li>
              </template>
            </ul>
          </v-col>
        </v-row>
        <v-row class="pa-8 d-flex justify-center" :class="{'flex-row': !isXsSm(), 'flex-column': isXsSm()}">
          <v-col class="colCustomWidth-X2">
            <div class="d-flex">
              <a href="/legal/psp">
                <img src="https://www.sesocio.com/e609323a932e062c305affdf313e5a8f.png" width="46px" alt="AAIP" class="mr-2"/>
              </a>
              <div class="black--text caption-2">
                Aloca S.A. (SeSocio) es un Proveedor de Servicios de Pago autorizado por el BCRA. No está autorizado para operar como entidad financiera. <a href="/legal/psp">Más info acá</a>
              </div>
            </div>
          </v-col>
          <!--v-col class="colCustomWidth">

          </v-col-->
          <v-col class="colCustomWidth-X2 black--text body-1">
            SeSocio.com y el logo de SeSocio.com son marcas registradas.
          </v-col>
          <v-col class="colCustomWidth">
            <a href="http://qr.afip.gob.ar/?qr=AqpwNDPHvpAfXXOTTt8Z6w,," target="_F960AFIPInfo" data-toggle="tooltip" data-placement="top" title="" data-original-title="Data Fiscal AFIP Se-Socio S.A.">
            <img class="img-fiscal" :src="require('@/assets/img/datafiscal.png')" alt="Datafiscal">
            </a>
              <a href="http://qr.afip.gob.ar/?qr=J7WZKrr3WtM61XYU0YrOBA,," target="_F960AFIPInfo" data-toggle="tooltip" data-placement="top" title="" data-original-title="Data Fiscal AFIP SeSocio I">
              <img class="img-fiscal" :src="require('@/assets/img/datafiscal.png')" alt="Datafiscal">
            </a>
            <a href="/legal/inscriptions" data-toggle="tooltip" data-placement="top" title="" data-original-title="Registro Protección Datos Personales">
              <img class="img-fiscal" :src="require('@/assets/img/pdp.jpg')" alt="Pdp">
            </a>
          </v-col>
        </v-row>

        <v-row  class="row pt-0 pb-1 pl-8 pr-8 d-flex justify-center flex-column"><div data-v-25695998="" class="grey--text overline-3 col"> SE SOCIO no proporciona asesoramiento financiero y nada en esta web debe interpretarse como tal. La información que aparece en estas páginas es para fines de información general y no constituye un asesoramiento específico. Tampoco es una recomendación para invertir. En caso de tener alguna duda, deberás buscar asesoramiento financiero independiente. La información publicada en la Web respecto de las distintas alternativas de inversión no podrá ser considerada como asesoramiento en materia de inversión, teniendo, por tanto, el valor de comunicaciones comerciales de carácter general. Cualquier decisión adoptada por el Usuario constituirá una decisión informada e independiente de los mismos. El Usuario deberá realizar las comprobaciones, estudios y análisis que consideren pertinentes para adoptar la decisión, de la que Se Socio no responderá en ningún caso. El valor de sus inversiones puede subir o bajar. La rentabilidad mostrada (u objetivos) no son necesariamente indicativos de la verdadera rentabilidad futura. Los Proyectos publicados en la Web no son objeto de autorización ni de supervisión por algùn ente regulador. Las previsiones, e información presentadas por los emprendedores puede cambiar o no ser certera. </div></v-row>

      </div>
    </template>
  </Wrapper>
</template>
<script>
import { mapActions, mapState } from "vuex";
/* Operá OTC
Invertí en proyectos
Publicar mi proyecto
Comprá Criptomonedas
Operá en Trading
Realizá Donaciones
Asistencias
Seguros */
export default {
  components: {},
  data() {
    return {
      url_base_main: process.env.VUE_APP_MAIN_PWA_URL,
      url_base_card: process.env.VUE_APP_CARD_BASE_URL,
      url_base_assistance: process.env.VUE_APP_ASSISTANCE_BASE_URL,
      url_base_protection: process.env.VUE_APP_INSURANCE_BASE_URL,
      services: {
        name: 'Servicios', items: [
          {name: 'Invertí en negocios', link:  'projects'},
          {name: 'Publicar mi negocio', link:  'publicar-mi-proyecto'},
          {name: 'Comprá Criptomonedas', link:  'criptomonedas'},
          {name: 'Operá en Trading', link:  'tradings'},
          {name: 'Tarjeta SeSocio', link: '', app: 'card', country: 'AR'},
          {name: 'Realizá Donaciones', link:  'donaciones'},
          {name: 'Asistencias', link: '', app: 'assistence', country: 'AR'},
          {name: 'Seguros', link: '', app: 'protection', country: 'AR'},
        ]
      },
      sitemap: {
        name: 'Mapa del Sitio', items: [
            {name: 'Contactanos', link:  'contacts/new'},
            {name: 'Novedades', link:  'articles'},
            {name: 'Negocios Financiados', link:  'successful_projects'},
            {name: 'Equipo', link:  'team'},
            {name: 'Trabajá con nosotros', link: 'careers'},
          ]
        },
        other: {
          name: '', items: [
              {name: 'Ayuda', link: 'https://sesocio.kayako.com/', external: true},
              {name: 'Términos y Condiciones', link:  'terms'},
              {name: 'Riesgos de inversión', link:  'investment_risk'},
              {name: 'Tabla de Comisiones', link:  'commission_table'},
              {name: 'Cotización del día', link:  'exchange_rates'},
              {name: 'Tarifario tarjetas', link: 'tariffs'},
              {name: 'Fiduciarios Digitales S.A', link: 'http://www.fiduciariosdigitalessa.com/', external: true},
            ]
        },
        address: [
          {name: 'UK', phone: '(+44) 871-807-5966', address: 'Innovation Centre Gallows Hill, Warwick, England.'},
          {name: 'US', phone: '(+1) 205-900-4141', address: ''},
          {name: 'AR', phone: '(+54 11) 5263-7484', address: 'Arenales 2189, CABA'}
        ]
    };
  },
  computed: {
    ...mapState("core", ["country"])
  },
  methods: {
  },
  watch: {
    country(){
      if(country !== 'AR'){
        window.location.reload();
      }
    }
  },
};
</script>
<style scoped>

.img-fiscal {
  display: inline;
  max-height: 50px;
  padding: 2px;
  width: auto;
  vertical-align: top;

  max-width: 100%;
  height: auto;
}

.colCustomWidth {
  width: 20% !important;
  max-width: 210px;
}
.colCustomWidth-X2 {
  width: 40% !important;
  max-width: 420px;
}

.ListNoStyle {
  list-style: none;
  padding: 0;
}

.ListNoStyle li a{
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 960px) {
  .colCustomWidth {
    width: 100% !important;
    max-width: 100% !important;
  }
  .colCustomWidth-X2 {
    width: 100% !important;
    max-width: 100% !important;
  }
}


</style>
