<i18n src="../locales/landing.json"></i18n>

<template>
  <Wrapper mainContainerClass="bgpink">
    <template slot="content">
      <div class="d-flex" :class="{'flex-column pl-4 pr-4 mt-7 flex-row': isXsSm()}">
        <v-col cols="12" md="6" class="pa-0 d-flex flex-column justify-center align-self-start" :class="{'pt-5': !isXsSm()}">
          <div>
            <v-row class="mwData">
              <v-col :class="{'mt-5': !isXsSm()}">
                <h1 class="display-1">{{ $t("title") }}</h1>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="headline-secondary">
                {{ $t("summary") }}
              </v-col>
            </v-row>
          </div>
        </v-col>
        <v-col cols="12" md="6" class="pa-0 mhRight" :class="{'mt-5': isXsSm()}">
          <template v-if="isXsSm()">
            <v-img class="rspImg" :src="require(`../../../assets/img/home/asistencia_home_images.png`)"></v-img>
          </template>
          <template v-else>
            <v-img max-height="480px" class="desktopImg" :src="require(`../../../assets/img/home/asistencia_home_images.png`)"></v-img>
          </template>
        </v-col>
      </div>
    </template>
  </Wrapper>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  components: {},
  data() {
    return {
    }
  },
  computed: {
  },
  methods: {
  },
  created() {
  }
};
</script>
<style scoped>
  .bgpink {
    background-size: cover;
    background-color: #d17cb9;
    background-image: url("../../../assets/img/assistances/bg_home.png");
    color: rgb(0, 0, 0);
  }

  >>> .desktopImg .v-image__image.v-image__image--cover {
    background-position: left top !important;
  }

  >>> .rspImg .v-responsive__sizer {
    padding-bottom: 128% !important;
  }
</style>
