<i18n>
{
    "en": {
        "title": "Pay for your assistance with"
    },
    "es": {
        "title": "Paga tus<br> asistencias con"
    },
    "es-AR": {
        "title": "Pagá tus<br> asistencias con"
    }
}
</i18n>
<template>
  <div style="position: relative" :class="!$vuetify.breakpoint.xs ? 'mt-n3' : 'mt-7'">
    <div
      v-if="!$vuetify.breakpoint.xs"
      class="backgroundImage"
      :style="{
        'background-image': 'url(' +require(`../../../assets/img/home/trianglesbg.png`)+')'
      }"
    ></div>
    <Wrapper mainContainerClass="bgGreen"
      class="ma-0"
      :class="{ 'background2colors': !$vuetify.breakpoint.xs }"
      style="border-bottom-style: solid !important; border-bottom-color: #41ffaf !important"
      :style="!$vuetify.breakpoint.xs ? 'border-bottom-width: 15px !important' : 'border-bottom-width: 11x !important; background-color: rgba(65, 255, 175, 1) !important;'"
    >
      <template slot="content">
        <div class="pt-5 pb-5">
          <v-alert
            border="bottom"
            colored-border
            color="#6400b4"
            class="ma-0 pa-0 rounded8"
            :class="[isXsSm() ? 'mt-3 pt-5 pb-5' : 'mt_65']"
          >
            <v-row class="d-flex flex-row contentSpaceAround align-center">
              <v-col cols="12" md="2" class="pa-0" :class="{'text-left columnH90': !isXsSm(), 'text-left mb-8 pl-10': isXsSm()}">
                <span class="purpleColor font-weight-bold text-uppercase subtitle-2" v-html="$t('title')"></span>
              </v-col>
              <v-col cols="6" md="2" class="d-flex flex-column align-center pa-0 columnH90" :class="{'mb-8': isXsSm()}">
                <v-img height="40" width="40" :src="require(`../../../assets/img/home/icon_cash.svg`)" />
                <v-img width="120" contain max-height="16" height="16" class="mt-2 mb-2" :src="require(`../../../assets/img/home/line.svg`)" />
                <span class="title-3 text-center lh19">Saldo en tu<br> Cuenta SeSocio</span>
              </v-col>
              <v-col cols="6" md="2" class="d-flex flex-column align-center pa-0 columnH90" :class="{'mb-8': isXsSm()}">
                <v-img height="40" width="40" :src="require(`../../../assets/img/home/icon_cards.svg`)" />
                <v-img width="120" contain max-height="16" height="16" class="mt-2 mb-2" :src="require(`../../../assets/img/home/line.svg`)" />
                <span class="title-3 text-center lh19 mb-4">Tarjetas<br v-if="isXsSm()"> de Crédito</span>
              </v-col>
              <v-col cols="6" md="2" class="d-flex flex-column align-center pa-0 columnH90" :class="{'mb-8': isXsSm()}">
                <v-img height="40" width="40" :src="require(`../../../assets/img/home/icon_cards.svg`)" />
                <v-img width="120" contain max-height="16" height="16" class="mt-2 mb-2" :src="require(`../../../assets/img/home/line.svg`)" />
                <span class="title-3 text-center lh19 mb-4">Tarjetas<br v-if="isXsSm()"> de Débito</span>
              </v-col>
            </v-row>
          </v-alert>
        </div>
      </template>
    </Wrapper>
  </div>
</template>
<script>
import { mapActions, mapState } from "vuex";
import Axios from 'axios';
export default {
  components: {},
  props: {},
  data() {
    return {
    };
  },
  computed: {
  },
  methods: {
  },
  beforeMount() {
  },
};
</script>
<style scoped>
  .purpleColor {
    color: #6400b4;
  }

  .backgroundImage {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 330px;
    background-size: auto 390px
  }
  .background2colors {
    height: 330px;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 17%,rgba(65, 255, 175, 1) 17%,rgba(65, 255, 175, 1) 100%);
  }

  .pt_b_50 {
    padding-top:50px;
    padding-bottom:50px;
  }

  .pt_50 {
    padding-top:50px;
  }

  .mt_65 {
    margin-top:65px !important;
  }

  .lh19 {
    line-height: 19px;
  }

  .contentSpaceAround {
    justify-content: space-evenly;
    min-height:200px;
  }

  .columnH90{
    min-height: 90px;
  }

  .rounded8 {
    border-radius: 8px !important;
  }
</style>
