<i18n>
{
  "en": {
    "title": "¿Por qué contratar una Asistencia?",
    "text_1": "Los servicios de asistencias funcionan las 24 horas y los 365 días del año, en toda la República Argentina.",
    "text_2": "Es un servicio que hace más fácil tu día a día, porque las asistencias están pensadas para resolver problemas.",
    "text_3": "Seguridad completa respecto a quienes entran a tu domicilio a realizar los servicios.",
    "text_4": "Es un servicio que permite tener acceso a un amplio listado de prestadores y profesionales de total confianza.",
    "text_5": "Contás con un número de teléfono donde llamar. Siempre hay con quien hablar y tratar los temas de la asistencia.",
    "text_6": "Te olvidás de salir a buscar a la persona que dé el servicio que necesitás, con un solo llamado, ya se consigue."
  },
  "es": {
    "title": "¿Por qué contratar una Asistencia?",
    "text_1": "Los servicios de asistencias funcionan las 24 horas y los 365 días del año, en toda la República Argentina.",
    "text_2": "Es un servicio que hace más fácil tu día a día, porque las asistencias están pensadas para resolver problemas.",
    "text_3": "Seguridad completa respecto a quienes entran a tu domicilio a realizar los servicios.",
    "text_4": "Es un servicio que permite tener acceso a un amplio listado de prestadores y profesionales de total confianza.",
    "text_5": "Contás con un número de teléfono donde llamar. Siempre hay con quien hablar y tratar los temas de la asistencia.",
    "text_6": "Te olvidás de salir a buscar a la persona que dé el servicio que necesitás, con un solo llamado, ya se consigue."
  },
  "es-AR": {
    "title": "¿Por qué contratar una Asistencia?",
    "text_1": "Los servicios de asistencias funcionan las 24 horas y los 365 días del año, en toda la República Argentina.",
    "text_2": "Es un servicio que hace más fácil tu día a día, porque las asistencias están pensadas para resolver problemas.",
    "text_3": "Seguridad completa respecto a quienes entran a tu domicilio a realizar los servicios.",
    "text_4": "Es un servicio que permite tener acceso a un amplio listado de prestadores y profesionales de total confianza.",
    "text_5": "Contás con un número de teléfono donde llamar. Siempre hay con quien hablar y tratar los temas de la asistencia.",
    "text_6": "Te olvidás de salir a buscar a la persona que dé el servicio que necesitás, con un solo llamado, ya se consigue."
  }
}
</i18n>
<template>
  <div>
    <Wrapper :mainContainerClass="(wrapperBg) ? wrapperBg : 'bgWhite'">
      <template slot="content">
        <div class="d-flex" :class="[isXsSm() ? 'my-4 flex-column pl-0 pr-0 flex-row' : 'my-7']">
          <v-col cols="12" class="pa-0 ma-0 d-flex flex-column justify-center">
            <div>
              <v-row>
                <v-col>
                  <h2 :class="{'black--text': wrapperBg, 'headline': $vuetify.breakpoint.xs, 'display-1': !$vuetify.breakpoint.xs}">{{ $t("title") }}</h2>
                </v-col>
              </v-row>
            </div>
          </v-col>
        </div>
      </template>
    </Wrapper>
    <Wrapper :mainContainerClass="(wrapperBg) ? wrapperBg : 'grey lighten-3'">
      <template slot="content">
        <div class="blockPadding">
          <v-row>
            <v-col cols="12">
              <v-card color="white" flat class="rounded20">
                <v-card-text class="pa-5">
                  <v-row>
                    <template v-for="a in arr">
                      <v-col cols="12" sm="12" md="6" class="d-flex pa-5 pr-8 mH90">
                        <v-avatar
                          size="32"
                          class="avatarOutlined mt-1"
                        >
                          <v-icon size="18" color="#0011cf">{{a.icon}}</v-icon>
                        </v-avatar>
                        <span class="ml-2 subtitle-1 lh1_3" color="grey darken-3">
                          {{a.text}}
                        </span>
                      </v-col>
                    </template>
                  </v-row>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </div>
      </template>
    </Wrapper>
  </div>
</template>
<script>
import { mapActions, mapState } from "vuex";
import Axios from 'axios';
export default {
  components: {},
  props: ['wrapperBg'],
  computed: {
    arr() {
      return [
        { icon: "mdi-clock-outline", text: this.$t('text_1') },
        { icon: "mdi-card-account-details-outline", text: this.$t('text_2') },
        { icon: "mdi-cellphone-android", text: this.$t('text_3') },
        { icon: "mdi-auto-fix", text: this.$t('text_4') },
        { icon: "mdi-card-account-phone-outline", text: this.$t('text_5') },
        { icon: "mdi-headset", text: this.$t('text_6') }
      ]
    }
  },
};
</script>

<style scoped>
  .blockPadding {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .rounded20 {
    border-radius: 20px;
  }

  .avatarOutlined {
    border: 1px solid #0011cf;
  }

  .lh1_3 {
    line-height: 1.3;
  }

  .mH90 {
    min-height: 90px;
    /* max-height: 90px; */
  }
</style>
