<i18n>
{
  "es": {
    "breadcrumb": "Contratar",
    "title": "Completa tus datos para contratar tu asistencia",
    "address": "Dirección",
    "street_number": "Número",
    "street_floor": "Piso",
    "street_floor_apartment": "Departamento",
    "code": "Código Postal",
    "state": "Provincia",
    "city": "Ciudad",
    "continue": "Contratar",
    "errors": {
      "required": "Requerido",
      "min": "Mínimo 8 caracteres",
      "oneDigit": "Al menos un número",
      "onlyNumbers": "Solo se aceptan números"
    },
    "terms_msg_link": "<a href='/terms' data-test-link-terms target='_blank'>Términos y Condiciones Asistencia</a>."
  },
  "en": {
    "breadcrumb": "Contract",
    "title": "Completa tus datos para contratar tu asistencia",
    "address": "Address",
    "street_number": "Number",
    "street_floor": "Piso",
    "street_floor_apartment": "Departamento",
    "code": "Zip Code",
    "state": "State",
    "city": "City",
    "continue": "Contract",
    "errors": {
      "required": "Required",
      "min": "Min 8 characters",
      "oneDigit": "At least one digit",
      "onlyNumbers": "Solo se aceptan números"
    },
    "terms_msg_link": "<a class='ml-1' href='/terms' data-test-link-terms target='_blank'>Assistance's Terms and Conditions</a>."
  }
}
</i18n>

<template>
  <div>
    <Breadcrumbs backEvent="prevStep" :back="true" :title="$t('breadcrumb')" @prevStep="$router.push(from)"></Breadcrumbs>

    <Wrapper>
      <template slot="content">
        <v-flex>
          <div class="squareBorder pt-5 pb-5">
            <v-card class="mx-auto squareBorder bckWhite" :flat="isXsSm()" :class="{'pa-5': isXsSm()}">
              <v-card-text :class="{'pa-0': isXsSm()}">
                <v-container :class="{'pa-0': isXsSm()}" class="d-flex justify-center flex-column">
                  <template v-if="loading">
                    <v-progress-circular class="mx-auto" indeterminate color="primary"></v-progress-circular>
                  </template>

                  <template v-else>
                    <div class="mb-5 title black--text">{{ $t('title') }}</div>
                    <v-divider></v-divider>

                    <v-form ref="form" v-model="valid">
                      <v-row :class="[isXsSm() ? 'mt-3' : 'mt-7']">
                        <v-col class="pb-0 pt-0" cols="12" xs="12" sm="4" offset-sm="2">
                          <v-text-field
                            v-model="user.street"
                            :rules="[rules.required]"
                            data-test-street
                            :label="$t('address')">
                          </v-text-field>
                        </v-col>
                        <v-col class="pb-0 pt-0" cols="12" xs="12" sm="4">
                          <v-row>
                            <v-col class="pb-0 pt-0" xs="6">
                              <v-text-field
                                v-model="user.street_number"
                                :rules="[rules.required, rules.onlyNumbers]"
                                data-test-street_number
                                :label="$t('street_number')">
                              </v-text-field>
                            </v-col>
                            <v-col class="pb-0 pt-0" xs="6">
                              <v-text-field
                                v-model="user.postal_code"
                                :rules="[rules.required]"
                                data-test-code
                                :label="$t('code')">
                              </v-text-field>
                            </v-col>
                          </v-row>
                        </v-col>
                      </v-row>

                      <v-row>
                        <v-col class="pb-0 pt-0" cols="12" xs="12" sm="4" offset-sm="2">
                          <v-row>
                            <v-col class="pb-0 pt-0" xs="6">
                              <v-text-field
                                v-model="user.street_floor"
                                data-test-street_floor
                                :label="$t('street_floor')">
                              </v-text-field>
                            </v-col>
                            <v-col class="pb-0 pt-0" xs="6">
                              <v-text-field
                                v-model="user.street_floor_apartment"
                                data-test-street_floor_apartment
                                :label="$t('street_floor_apartment')">
                              </v-text-field>
                            </v-col>
                          </v-row>
                        </v-col>
                        <v-col class="pb-0 pt-0" cols="12" xs="12" sm="4">
                          <v-autocomplete
                            v-model="selectedState"
                            :items="statesByCountry"
                            :rules="[rules.required]"
                            data-test-state
                            :label="$t('state')">    
                          </v-autocomplete>
                        </v-col>
                      </v-row>

                      <v-row>
                        <v-col class="pb-0 pt-0" cols="12" xs="12" sm="4" offset-sm="2">
                          <v-autocomplete
                            v-model="selectedCity"
                            :items="citiesByState"
                            :rules="[rules.required]"
                            data-test-city
                            :label="$t('city')">
                          </v-autocomplete>
                        </v-col>
                        <v-col class="pb-0 pt-0" cols="12" xs="12" sm="4">
                        </v-col>
                      </v-row>

                      <v-row>
                        <v-col class="d-flex flex-row align-center" :class="{'py-0': isXsSm()}" offset-sm="2">
                          <v-checkbox data-test-terms :rules="[rules.required]"></v-checkbox>
                          <div class="terms" v-html="$t('terms_msg_link')"></div>
                        </v-col>
                      </v-row>
                    </v-form>

                    <v-alert
                      dense
                      outlined
                      type="error"
                      v-model="snackError"
                      class="ma-3" v-html="snackErrorMessage">
                    </v-alert>
                  </template>
                </v-container>
              </v-card-text>

              <v-card-actions v-if="!loading">
                <v-container class="d-flex justify-center flex-row">
                  <v-btn data-test-continue :class="{'mb-5': !isXsSm()}" color="primary" width="200" :disabled="!valid" @click="validate">
                    {{ $t("continue") }}
                  </v-btn>
                </v-container>
              </v-card-actions>
            </v-card>
          </div>
        </v-flex>
      </template>
    </Wrapper>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import Breadcrumbs from '@/modules/core/components/Breadcrumbs';

export default {
  components: { Breadcrumbs },
  data() {
    return {
      user: {},
      from: null,
      valid: false,
      loading: true,
      rules: {
        min: v => v.length >= 8 || this.$t("errors.min"),
        required: value => !!value || this.$t("errors.required"),
        oneDigit: v => /(?=.*\d)/.test(v) || this.$t("errors.oneDigit"),
        onlyNumbers: v => /^[0-9]*$/.test(v) || this.$t("errors.onlyNumbers")
      },
      selectedState: null,
      selectedCity: null,
      statesByCountry: [],
      citiesByState: [],
      snackError: false,
      snackErrorMessage: ''
    }
  },
  computed: {
    ...mapState("user", ["current", "userApiResponse"]),
  },
  methods: {
    ...mapActions("user", ["setUserData"]),
    async getStates() {
      this.statesByCountry = await this.getStatesByCountry(this.user.country);
      this.selectedState = this.user.state;
    },
    async getCities(state) {
      this.citiesByState = await this.getCitiesByState(this.user.country, state);
      this.selectedCity = this.user.city;
    },
    buildAdress() {
      this.user.streetNumber = this.user.street_number;
      this.user.streetFloor = this.user.street_floor;
      this.user.streetFloorApartment = this.user.street_floor_apartment;
      this.user.postalCode = this.user.postal_code;
      this.user.address = this.user.street + ' ' + this.user.streetNumber;
      if(this.user.streetFloor !== '') this.user.address += ' ' + this.user.streetFloor;
      if(this.user.streetFloorApartment !== '') this.user.address += ' ' + this.user.streetFloorApartment;
    },
    validate() {
      if(this.$refs.form.validate()) {
        this.buildAdress();
        this.setUserData(this.user);
      }
    },
    processResponse(resp) {
      if(resp.hasOwnProperty('errors') && Object.keys(resp.errors).length > 0) {
        let msg = '<ul class="snackErrorList">';
        let err = Object.keys(resp.errors).map((obj, k) => {
          msg += `<li>${resp.errors[obj].fullMessage}</li>`;
        }, {});
        msg += '</ul>';

        this.snackError = true;
        this.snackErrorMessage = msg;
      } else {
        this.snackError = false;
        this.snackErrorMessage = "";

        this.$router.push(this.$route.params.path);
      }
    }
  },
  watch: {
    async current(v) {
      if(v) {
        this.user = v;
        this.loading = false;
        await this.getStates();
      }
    },
    selectedState(v) {
      this.user.state = v;
      if(v !== '') this.getCities(v);
    },
    selectedCity(v) {
      this.user.city = v;
    },
    userApiResponse(val){
      this.processResponse(val);
    }
  },
  async beforeMount() {
    if(!this.$route.params.path) {
      this.$router.push('/');
    }

    if(!this.from) this.from = '/';

    if(this.current.email) {
      this.user = this.current;
      this.loading = false;
      await this.getStates();
    }
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.from = from.path;
    });
  }
}
</script>

<style lang="scss" scoped>
.title {
  line-height: 24px;
}
</style>