<i18n>
  {
    "es": {
      "assistance": "Asistencia"
    },
    "en": {
      "assistance": "Assistance"
    }
  }
</i18n>

<template> 
  <div>
    <v-col cols="12" v-if="this.spinner" >
      <p class="text-center"><v-progress-circular indeterminate color="primary" class="mx-auto"></v-progress-circular></p> 
    </v-col>
    <div v-if="windowWidth > 769"
      class="head-image"
      :style="{
        backgroundImage:
          'url(' +
          require(`../../../assets/img/assistances/${slug.image_desktop}.png`) +
          ')',
      }"
    >
      <v-row class="mb-8 align-center" :class="{ 'px-4': isXsSm() }">
        <v-col class="bg-color-1" cols="12" sm="6" md="6">
          <v-container class="ma-5">
            <h1 class="textTitle">{{ slug.title }}</h1>
            <span class="body-1">{{ slug.summary }}</span
            ><br /><br />
            <div class="text-center">
              <img
                height="388px"
                :src="
                  require(`../../../assets/img/assistances/${slug.image_desktop_detail}.png`)
                "
              />
            </div>
          </v-container>
        </v-col>
        <v-col class="bg-color-2" cols="12" sm="6" md="6">
         <v-card class="card-details" elevation="5">
            <h2>Sobre la asistencia:</h2>
            <br />
            <!-- Icons asistencia-para-mascotas-arg -->
            <span v-if="(slug.slug =='asistencia-para-mascotas-arg')">
              <p style="height: 20px;">
                <img
                  width="22px" height="22px"
                  :src="require(`../../../assets/img/assistances/icon/Atencion.svg`)"
                />
                <span class="itemText">Atención 24hs en Centro Veterinario</span>
              </p>
              <p style="height: 20px;">
                <img
                  width="22px" height="22px"
                  :src="require(`../../../assets/img/assistances/icon/castracion.svg`)"
                />
                <span class="itemText">Castración</span>
              </p>
              <p style="height: 20px;">
                <img
                  width="22px" height="22px"
                  :src="require(`../../../assets/img/assistances/icon/Guarderia.svg`)"
                />
                <span class="itemText">Guarderia</span>
              </p>
              <p style="height: 20px;">
                <img
                  width="22px" height="22px"
                  :src="require(`../../../assets/img/assistances/icon/intervencion.svg`)"
                />
                <span class="itemText"
                  >Intervención quirúrgica, Análisis y Estudios</span
                >
              </p>
              <p style="height: 20px;">
                <img
                  width="22px" height="22px"
                  :src="require(`../../../assets/img/assistances/icon/rescate.svg`)"
                />
                <span class="itemText">Rescate Mascota</span>
              </p>
            </span>
            <!-- Icons asistencia-para-el-hogar-arg -->
            <span v-if="(slug.slug =='asistencia-para-el-hogar-arg')">
              <p style="height: 20px;">
                <img
                  width="22px" height="22px"
                  :src="require(`../../../assets/img/assistances/icon/key.svg`)"
                />
                <span class="itemText">Cerrajeros</span>
              </p>
              <p style="height: 20px;">
                <img
                  width="22px" height="22px"
                  :src="require(`../../../assets/img/assistances/icon/incandescente.svg`)"
                />
                <span class="itemText">Electricistas</span>
              </p>
              <p style="height: 20px;">
                <img
                  width="22px" height="22px"
                  :src="require(`../../../assets/img/assistances/icon/gas.svg`)"
                />
                <span class="itemText">Gasistas</span>
              </p>
              <p style="height: 20px;">
                <img
                  width="22px" height="22px"
                  :src="require(`../../../assets/img/assistances/icon/pipeline.svg`)"
                />
                <span class="itemText">Plomeros</span>
              </p>
              <p style="height: 20px;">
                <img
                  width="22px" height="22px"
                  :src="require(`../../../assets/img/assistances/icon/kitchen.svg`)"
                />
                <span class="itemText">Línea Blanca</span>
              </p>
            </span>
            <!-- Icons asistencia-en-la-via-publica-arg -->
            <span v-if="(slug.slug =='asistencia-en-la-via-publica-arg')">
              <p style="height: 20px;">
                <img
                  width="22px" height="22px"
                  :src="require(`../../../assets/img/assistances/icon/taxi.svg`)"
                />
                <span class="itemText">Traslados hasta domicilio o comisaría</span>
              </p>
              <p style="height: 20px;">
                <img
                  width="22px" height="22px"
                  :src="require(`../../../assets/img/assistances/icon/tarjetaIdentificacion.svg`)"
                />
                <span class="itemText">Reposición de documentos</span>
              </p>
              <p style="height: 20px;">
                <img
                  width="22px" height="22px"
                  :src="require(`../../../assets/img/assistances/icon/key.svg`)"
                />
                <span class="itemText">Cerrajero</span>
              </p>
              <p style="height: 20px;">
                <img
                  width="22px" height="22px"
                  :src="require(`../../../assets/img/assistances/icon/mensajesUrgentes.svg`)"
                />
                <span class="itemText">Transmición de mensajes urgentes</span>
              </p>
              <p style="height: 20px;">
                <img
                  width="22px" height="22px"
                  :src="require(`../../../assets/img/assistances/icon/ambulancia.svg`)"
                />
                <span class="itemText">Ambulancia</span>
              </p>
            </span>
            <span class="amout-Text">${{finalyAmount}} </span>
            <span class="month-Text">Por mes</span><br />
            <span class="int-border-mobile" v-if="(slug.slug =='asistencia-para-mascotas-arg')">
              <button class="btn-amount" @click="onRest()">-</button>
              <input
                type="text"
                disabled
                v-model="quantity_assists"
                style="width: 52px; text-align: center"
                value="1"
              />
              <button class="btn-amount" @click="onAdd()">+</button>
            </span>
            <v-btn color="#ff97e2" width="220" height="48" @click="goToContract()">Contratar </v-btn>
          </v-card>
        </v-col>
      </v-row>
    </div>
    <div v-else>
      <div v-if="windowWidth < 769"
        class="head-image-mobile"
        :style="{
          backgroundImage:
            'url(' +
            require(`../../../assets/img/assistances/${slug.image_mobile}.png`) +
            ')',
        }"
      >
        <v-row class="align-center" :class="{ 'px-4': isXsSm() }">
            <v-col cols="12" sm="6" md="6">
              <v-container>
                <h1 class="textTitle">{{ slug.title }}</h1>
                <span class="body-1">{{ slug.summary }}</span
                ><br /><br />
                <div class="text-center">
                  <img
                    :src="
                      require(`../../../assets/img/assistances/${slug.image_mobile_detail}.png`)
                    "
                  />
                </div>
              </v-container>
            </v-col>
            <v-col cols="12" sm="6" md="6">
              <v-card class="card-details-mobile" elevation="5">
                <h2>Sobre la asistencia:</h2>
                <br />
                <!-- Icons asistencia-para-mascotas-arg -->
                <span v-if="(slug.slug =='asistencia-para-mascotas-arg')">
                  <p class="item-assistance">
                    <img
                      width="22px" height="22px"
                      :src="require(`../../../assets/img/assistances/icon/Atencion.svg`)"
                    />
                    <span class="itemText">Atención 24hs en Centro Veterinario</span>
                  </p>
                  <p class="item-assistance">
                    <img
                      width="22px" height="22px"
                      :src="require(`../../../assets/img/assistances/icon/castracion.svg`)"
                    />
                    <span class="itemText">Castración</span>
                  </p>
                  <p class="item-assistance">
                    <img
                      width="22px" height="22px"
                      :src="require(`../../../assets/img/assistances/icon/Guarderia.svg`)"
                    />
                    <span class="itemText">Guarderia</span>
                  </p>
                  <p class="item-assistance">
                    <img
                      width="22px" height="22px"
                      :src="require(`../../../assets/img/assistances/icon/intervencion.svg`)"
                    />
                    <span class="itemText"
                      >Intervención quirúrgica, Análisis y Estudios</span
                    >
                  </p>
                  <p class="item-assistance">
                    <img
                      width="22px" height="22px"
                      :src="require(`../../../assets/img/assistances/icon/rescate.svg`)"
                    />
                    <span class="itemText">Rescate Mascota</span>
                  </p>
                </span>
                <!-- Icons asistencia-para-el-hogar-arg -->
                <span v-if="(slug.slug =='asistencia-para-el-hogar-arg')">
                  <p style="height: 20px;">
                    <img
                      width="22px" height="22px"
                      :src="require(`../../../assets/img/assistances/icon/key.svg`)"
                    />
                    <span class="itemText">Cerrajeros</span>
                  </p>
                  <p style="height: 20px;">
                    <img
                      width="22px" height="22px"
                      :src="require(`../../../assets/img/assistances/icon/incandescente.svg`)"
                    />
                    <span class="itemText">Electricistas</span>
                  </p>
                  <p style="height: 20px;">
                    <img
                      width="22px" height="22px"
                      :src="require(`../../../assets/img/assistances/icon/gas.svg`)"
                    />
                    <span class="itemText">Gasistas</span>
                  </p>
                  <p style="height: 20px;">
                    <img
                      width="22px" height="22px"
                      :src="require(`../../../assets/img/assistances/icon/pipeline.svg`)"
                    />
                    <span class="itemText">Plomeros</span>
                  </p>
                  <p style="height: 20px;">
                    <img
                      width="22px" height="22px"
                      :src="require(`../../../assets/img/assistances/icon/kitchen.svg`)"
                    />
                    <span class="itemText">Línea Blanca</span>
                  </p>
                </span>
                <!-- Icons asistencia-en-la-via-publica-arg -->
                <span v-if="(slug.slug =='asistencia-en-la-via-publica-arg')">
                  <p style="height: 20px;">
                    <img
                      width="22px" height="22px"
                      :src="require(`../../../assets/img/assistances/icon/taxi.svg`)"
                    />
                    <span class="itemText">Traslados hasta domicilio o comisaría</span>
                  </p>
                  <p style="height: 20px;">
                    <img
                      width="22px" height="22px"
                      :src="require(`../../../assets/img/assistances/icon/tarjetaIdentificacion.svg`)"
                    />
                    <span class="itemText">Reposición de documentos</span>
                  </p>
                  <p style="height: 20px;">
                    <img
                      width="22px" height="22px"
                      :src="require(`../../../assets/img/assistances/icon/key.svg`)"
                    />
                    <span class="itemText">Cerrajero</span>
                  </p>
                  <p style="height: 20px;">
                    <img
                      width="22px" height="22px"
                      :src="require(`../../../assets/img/assistances/icon/mensajesUrgentes.svg`)"
                    />
                    <span class="itemText">Transmición de mensajes urgentes</span>
                  </p>
                  <p style="height: 20px;">
                    <img
                      width="22px" height="22px"
                      :src="require(`../../../assets/img/assistances/icon/ambulancia.svg`)"
                    />
                    <span class="itemText">Ambulancia</span>
                  </p>
                </span>
                <span class="amout-Text">${{finalyAmount}} </span>
                <span class="month-Text">Por mes</span><br />
                <span class="int-border-mobile" v-if="(slug.slug =='asistencia-para-mascotas-arg')">
                  <button class="btn-amount" @click="onRest()">-</button>
                  <input
                    type="text"
                    disabled
                    v-model="quantity_assists"
                    style="width: 52px; text-align: center"
                    value="1"
                  />
                  <button class="btn-amount" @click="onAdd()">+</button>
                </span>
                <v-btn color="#ff97e2" class="btn-mobile" @click="goToContract()">Contratar </v-btn>
              </v-card>
            </v-col>
        </v-row>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "",
  props: ["slug"],
  components: {},
  data() {
    return {
      quantity_assists: 1,
      windowWidth: window.innerWidth,
      spinner: false,
      finalyAmount: this.slug.amount,
    };
  },
  mounted() {
    window.onresize = () => {
      this.windowWidth = window.innerWidth;
    };
  },
  methods: {
    ...mapActions('core', ["showRegisterDialog"]),
    onAdd() {
      this.quantity_assists = this.quantity_assists === 99 ? this.quantity_assists : this.quantity_assists + 1;
       this.finalyAmount = this.processAmount();
    },
    onRest() {
      this.quantity_assists = this.quantity_assists === 1 ? this.quantity_assists : this.quantity_assists - 1;
      this.finalyAmount = this.processAmount();
    },
    processAmount(){
      return (this.slug.amount * this.quantity_assists)
    },
    goToContract() {
      let total = (this.slug.amount * this.quantity_assists)
      localStorage.setItem('TotalPay', total)
      localStorage.setItem('Quantity', this.quantity_assists)
      let banned_types = this.$store.state["user"].current.banned_type;
      let country = this.$store.state["user"].current.country;
      let data = this.validateUser();
      //console.log(country);
      //console.log(data);
      if (this.isLoggedIn) {
        if (banned_types && banned_types[0] !== "totally_banned") {
          if (country && country === "AR") {
            if (data) {
              console.log(this.slug.slug)
              this.$router.push({
                name: "assistance_methods",
                params: { title_id: this.slug.slug, quantity_assists: this.quantity_assists},
              });
            } else {
              this.$router.push({
                name: "assistance_additional_information",
                params: { path: this.$route.path + "?contract=true" },
              });
            }
          } else {
            this.$router.push({
              path: `/asistencias/no-disponible/${this.assistance.slug}`,
            });
          }
        } else if (country && country === "AR") {
          this.$router.push({
            path: `/asistencias/no-disponible/${this.assistance.slug}`,
          });
        } else {
          this.$router.push({ path: "/asistencias/completar-documentacion" });
        }
      } else {
        this.showRegisterDialog({
          status: true,
          path: this.$route.path + "?contract=true",
        });
      }
    },
    validateUser() {
      return (
        this.current.street &&
        this.current.street_number &&
        this.current.postal_code &&
        this.current.state &&
        this.current.city
      );
    },
  },
  computed: {
    ...mapState("user", ["current", "isLoggedIn", "userId"]),
  },
  watch: {},
  beforeMount() { },
};
</script>

<style scoped>
.textTitle {
  padding-top: 30px;
}
.body-1 {
  padding-top: 0px;
}
.v-chip .overline-3 {
  margin-top: 2px !important;
}

.v-chip img {
  margin-top: -2px !important;
}

.flag {
  font-size: 12px;
  max-height: 12px;
}

.v-parallax__image {
  /* top: 50%;
    margin-top: -360px; */
  bottom: -20%;
}
.head-image {
  height: 580px;
  background-repeat: no-repeat;
  /* background-position: center center; */
  background-size: cover;
  position: relative;
}
.head-image-mobile{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 924px;
}
.bg-color-1 {
  height: 594px;
}
.bg-color-2 {
  height: 594px;
}
.card-details {
  height: 68% !important;
  margin-top: 140px !important;
  margin-right: 50px !important;
  margin-left: 88px !important;
  width: 432px !important;
  padding: 20px;
}
.card-details-mobile {
  height: 68% !important;
  width: 432px !important;
  padding: 20px;
  top: -50px;
}
.itemText {
  position: relative;
  top: -30px;
  margin-left: 30px;
  display: block;
}
.amout-Text {
  font-weight: bold;
  font-size: xx-large;
}
.int-border {
  font-weight: bold;
  font-size: xx-large;
  border-radius: 5px;
  border: solid 1px;
  margin-right: 20px;
  position: relative;
  top: 8px;
}
.month-Text {
  font-size: small;
}
.btn-amount {
  width: 48px;
  height: 48px;
}
.int-border-mobile {
  font-weight: bold;
  font-size: xx-large;
  border-radius: 5px;
  border: solid 1px;
  margin-right: 10px;
  position: relative;
  top: 8px;
}
.btn-mobile{
   width: 143px;
   height: 44px!important;
}
input:focus,
input:focus {
  outline: none;
  border: none;
}
.item-assistance{
  margin-bottom: -14px;
}
</style>