<i18n src="../locales/assistanceincludes.json"></i18n>
<template>
  <div>
    <Wrapper mainContainerClass="bgWhite">
      <template slot="content">
        <div class="pt-5 pb-5">
            <v-row
              class="d-flex flex-row contentSpaceAround align-center justify-start"
            >
              <template>
                <div class="mt-5 pt-0 col-12 border-white">
                  <h3 class="black--text display-1">¿Cómo puedo hacer uso de mi asistencia?</h3>
                  <p class="body-1 mt-5">
                    Te contamos donde cuando y como podes hacer uso de tu asistencia.
                  </p>
                </div>

                <v-container>
                  <v-row no-gutters>
                    <v-col cols="12" sm="3">
                      
                        <div class="pa-2">
                          <div class="left">
                            <img
                                width="44px"
                                height="50px"
                                :src="
                                  require(`../../../assets/img/assistances/icon/1.svg`)
                                "
                              />
                            </div>
                          <div class="title-3 right">Usuario en Emergencia Llama al 0800 (CAT) IKÉ.</div>
                        </div>
                      
                    </v-col>
                    <v-col cols="12" sm="3">
                      <div class="pa-2">
                          <div class="left">
                            <img
                                width="44px"
                                height="50px"
                                :src="
                                  require(`../../../assets/img/assistances/icon/2.svg`)
                                "
                              />
                            </div>
                          <div class="title-3 right">Lo atiende un coordinador y le asigna un proveedor.</div>
                        </div>
                    </v-col>
                    <v-col cols="12" sm="3">
                      <div class="pa-2">
                          <div class="left">
                            <img
                                width="44px"
                                height="50px"
                                :src="
                                  require(`../../../assets/img/assistances/icon/3.svg`)
                                "
                              />
                            </div>
                          <div class="title-3 right">Se brinda la asistencia en un lapso de 60 minutos.</div>
                        </div>
                    </v-col>
                    <v-col cols="12" sm="3">
                      <div class="pa-2">
                          <div class="left">
                            <img
                                width="44px"
                                height="50px"
                                :src="
                                  require(`../../../assets/img/assistances/icon/4.svg`)
                                "
                              />
                            </div>
                          <div class="title-3 right">De 24 a 48 hs se realiza una encuesta de calidad.</div>
                        </div>
                    </v-col>
                  </v-row>
                </v-container>
              </template>
            </v-row>
        </div>
      </template>
    </Wrapper>
  </div>
</template>
<script>
export default {
  data() {
    return {
    };
  },
  beforeMount() {
  },
};
</script>
<style scoped>
.purpleColor {
  color: #6400b4;
}

.backgroundImage {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 330px;
  background-size: auto 390px;
}
.background2colors {
  height: 330px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 17%,
    rgba(65, 255, 175, 1) 17%,
    rgba(65, 255, 175, 1) 100%
  );
}

.pt_b_50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pt_50 {
  padding-top: 50px;
}

.mt_65 {
  margin-top: 65px !important;
}

.lh19 {
  line-height: 19px;
}

.contentSpaceAround {
  justify-content: space-evenly;
  min-height: 200px;
}

.columnH90 {
  min-height: 90px;
}

.rounded8 {
  border-radius: 8px !important;
}

.left {
  /* background: blue; */
  width: 18%;
  height: 50px;
  float: left;
}
.right {
  /* background: green; */
   width: 100%;
}
</style>
