<i18n src="../../home/locales/assistances.json"></i18n>
<template>
  <div>
    <!-- <Wrapper mainContainerClass="bgpink" v-if="assistances != undefined">
      <template slot="content">
        <div class="d-flex my-7" :class="{'flex-column pl-0 pr-0': isXsSm(), 'flex-row': isXsSm()}">
          <v-col cols="12" class="d-flex flex-column justify-center" :class="[isXsSm() ? 'py-0' : 'pa-0 ']">
            <div>
              <v-row>
                <v-col>
                  <h2 class="white--text" :class="$vuetify.breakpoint.xs ? 'headline' : 'display-1'">{{ $t("title_others") }}</h2>
                </v-col>
              </v-row>
            </div>
          </v-col>
        </div>

        <v-row class="mb-8 align-center" :class="{'px-4': isXsSm()}">
          <template v-for="assistance in assistances" v-if="assistance.slug != slug">
            <v-col cols="12" sm="6" md="6">
              <v-hover>
                <template v-slot="{ hover }">
                  <v-card
                    :id="`data-test-assistance-${assistance.slug}`"
                    max-width="100%"
                    class="mx-auto"
                    :elevation="hover ? 6 : 2"
                    light
                    :to="`/assistance/${assistance.slug}`"
                    >
                    <v-img  loading="lazy" :src="require(`../../../assets/img/assistances/${assistance.image_card}.png`)"/>

                    <div class="flagWrapper">
                      <flag iso="AR" class="flag" :squared="false"></flag>
                    </div>

                    <div class="avatarWrapper">
                      <div class="avatarAbs">
                        <v-avatar
                          size="58"
                          class="white pa-2"
                        >
                          <v-img class="noBorder" contain :src="require(`../../../assets/img/cards/logo_ike.png`)"></v-img>
                        </v-avatar>
                      </div>
                    </div>

                    <v-list-item>
                      <v-list-item-content class="pb-0">
                        <v-list-item-title class="headline">{{assistance.title}}</v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>

                    <v-card-text class="pt-2 pb-8 body-2 black--text">
                      {{assistance.summary}}
                    </v-card-text>

                    <v-divider class="ml-4 mr-4"></v-divider>
                    <v-card-actions class="justify-center pt-5 pb-5 flex-column">
                      <div class="d-flex flex-row justify-center align-center">
                        <span class="title-3">{{$t('only')}} $ {{assistance.amount}}</span> <span class="body-2 ml-2" color="#424242">{{$t('per_month')}}</span>
                      </div>
                    </v-card-actions>
                  </v-card>
                </template>
              </v-hover>
            </v-col>
          </template>
        </v-row>
      </template>
    </Wrapper> -->
    <Wrapper style="background-color: white!important;">
      <template slot="content">
        <div class="pt-5 pb-5">
            <v-row
              class="d-flex flex-row contentSpaceAround align-center justify-start"
            >
              <template>
                <v-container>
                  <v-row no-gutters>
                      <v-col cols="12" sm="3">                    
                          <div class="mt-10">
                            <div class="text-center">
                               <h2 class="text-top">Otras asistencias que podrían interesarte</h2>
                            </div>
                          </div>     
                      </v-col>
                      <v-col  v-if="assistance.slug != slug" cols="12" sm="3" v-for="(assistance, index) in assistances" :key="index" >
                        <div class="pa-2">
                          <div class="mt-2 text-center">
                            <v-card
                              :id="`data-test-assistance-${assistance.slug}`"
                              max-width="100%"
                              class="mx-auto"
                              light
                              :to="`/asistencias/${assistance.slug}`"
                              >
                              <v-img  loading="lazy" :src="require(`../../../assets/img/assistances/${assistance.image_card}.png`)"/>

                              <div class="flagWrapper">
                                <flag iso="AR" class="flag" :squared="false"></flag>
                              </div>

                              <div class="avatarWrapper">
                                <div class="avatarAbs">
                                  <v-avatar
                                    size="58"
                                    class="white pa-2"
                                  >
                                    <v-img class="noBorder" contain :src="require(`../../../assets/img/cards/logo_ike.png`)"></v-img>
                                  </v-avatar>
                                </div>
                              </div>

                              <v-list-item>
                                <v-list-item-content class="pb-0">
                                  <v-list-item-title class="headline">{{assistance.title}}</v-list-item-title>
                                </v-list-item-content>
                              </v-list-item>

                              <v-card-text class="pt-2 pb-8 body-2 black--text">
                                {{assistance.summary}}
                              </v-card-text>

                              <v-divider class="ml-4 mr-4"></v-divider>
                              <v-card-actions class="justify-center pt-5 pb-5 flex-column">
                                <div class="d-flex flex-row justify-center align-center">
                                  <span class="title-3">{{$t('only')}} $ {{assistance.amount}}</span> <span class="body-2 ml-2" color="#424242">{{$t('per_month')}}</span>
                                </div>
                              </v-card-actions>
                            </v-card>
                          </div>
                        </div>
                      </v-col>

                      <v-col cols="12" sm="3">
                        <div class="pa-2">

                        </div>
                      </v-col>
                  </v-row> 
                </v-container>
              </template>
            </v-row>
        </div>
      </template>
    </Wrapper>
  </div>
</template>
<script>
import { mapActions, mapState } from "vuex";
import Axios from 'axios';
export default {
  components: {},
  props: ['slug'],
  data() {
    return {
    };
  },
  computed: {
    ...mapState("assistance", ["assistances", "loaderAssistances"])
  },
  methods: {
    ...mapActions("assistance", ["getAssistences"]),
  },
  async created() {
    await this.getAssistences();
  }
};
</script>
<style lang="scss" scoped>
  .flagWrapper {
    margin-top: -30px;
    margin-bottom: 18px;
    margin-left: 15px;
  }

  .avatarWrapper {
    position:relative;
  }

  .avatarAbs {
    position:absolute;
    top: -45px;
    right: 15px;
  }

  .flag {
    line-height: 0.8em;
    border: 2px solid #fff;
  }
  .noBorder {
    border-radius: initial !important;
  }  
</style>
