<i18n src="../locales/pending.json"></i18n>
<template>
  <div class="pending black--text py-5" :class="{'pa-5': !isXsSm()}">
    <v-icon size="46" color="#f9a932" class="mb-4">mdi-credit-card-clock</v-icon>
    <div class="font-weight-light display-1">{{ $t('pending') }}</div>
    <div class="subutitle-1 mt-3 mb-12" v-html="$t('pending_text')"></div>
    <v-btn data-test-go_to_dashboard class="d-block mx-auto" color="primary" width="200" @click="goToDashboard">{{ $t('action') }}</v-btn>
  </div>
</template>


<script>
export default {
  methods: {
    goToDashboard() {
      this.$router.push('/dashboard');
    }
  }
}
</script>

<style scoped>
.display-1 {
  font-size: 30px !important;
}
</style>