<template>
  <div class="covid" :class="{ mobile: $vuetify.breakpoint.xs }">
    <div class="circle-line" :class="{ active: index === 0 }">
      <div class="line"></div>
      <div class="circle" @click="changeCurrent(0)">
        <div v-if="images[0]">
          <v-img :src="require(`../../../assets/img/assistances/icon/${images[0]}.svg`)" alt="" height="100%" width="100%" />
        </div>
        <div v-else>

        </div>
      </div>
    </div>
    <div class="circle-line right-b" :class="{ active: index === 1 }">
      <div class="line"></div>
      <div class="circle" @click="changeCurrent(1)">
        <div v-if="images[1]">
          <v-img :src="require(`../../../assets/img/assistances/icon/${images[1]}.svg`)" alt="" height="100%" width="100%" />
        </div>
         <div v-else>
         
        </div>
      </div>
    </div>
    <div class="circle-line left-a" :class="{ active: index === 2 }">
      <div class="line"></div>
      <div class="circle" @click="changeCurrent(2)">
        <div v-if="images[2]">
          <v-img :src="require(`../../../assets/img/assistances/icon/${images[2]}.svg`)" alt="" height="100%" width="100%" />
        </div>
         <div v-else>
          
        </div>
      </div>
    </div>

    <!-- Chupetines -->
    <div class="lollypop top-right">
      <div class="circle"></div>
      <div class="line"></div>
    </div>
    <div class="lollypop top-left">
      <div class="circle"></div>
      <div class="line"></div>
    </div>
    <div class="lollypop bottom-right">
      <div class="circle"></div>
      <div class="line"></div>
    </div>
    <div class="lollypop bottom-left">
      <div class="circle"></div>
      <div class="line"></div>
    </div>
    <!-- Circulos -->
    <div class="c-center"></div>
    <div class="mini-circle top"></div>
    <div class="mini-circle right"></div>
    <div class="mini-circle bottom"></div>
  </div>
</template>

<script>
export default {
  props: {
    index: Number,
    images: Array,
  },
  methods: {
    changeCurrent(val) {
      this.$emit("update:index", val);
    },
  },
};
</script>

<style lang="scss" scoped>
.covid {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;

  &.mobile {
    height: 250px !important;
    margin-top: 10px;
  }
}

// Circulos y lineas
.c-center {
  position: relative;
  background-color: #ffffff;
  height: 198px; // 22.317vw
  width: 198px;
  border-radius: 50%;
  border: 13px solid #b36a9e;

  &:after {
    content: "";
    position: absolute;
    background-image: url("~../../../assets/img/assistances/logo-ike.svg");
    top: 13%;
    left: 25%;
    width: 100%;
    height: 100%;
  }
}

.circle-line {
  position: absolute;
  transform: translate(145%, -49%) rotate(158deg);
  .circle {
    position: relative;
    background-color: #ff97e2;
    height: 176px;
    width: 176px;
    border-radius: 50%;
    cursor: pointer;

    & .v-image {
      height: 100%;
      /* width: 100%; */
      border-radius: 50%;
      transform: rotate(-158deg);
    }
  }
  .line {
    position: absolute;
    height: 13px;
    width: 100px;
    background-color: #ff97e2;
    top: 47%;
    transform: translateX(170%);
  }
  &:hover,
  &.active {
    .line {
      background-color: #b36a9e !important;
    }
    .circle {
      border: 13px solid #b36a9e;
    }
  }
  &.active {
    .circle {
      box-shadow: 0px 0px 0px 25px rgba(78, 254, 177, 0.15);
    }
  }
}

.circle-line.right-b {
  transform: translate(135%, 86%) rotate(211deg);
  .circle {
    height: 127px;
    width: 127px;

    & .v-image {
      transform: rotate(-211deg);
    }
  }
  .line {
    width: 50px;
    background-color: #ff97e2;
    transform: translateX(250%);
  }
}

.circle-line.left-a {
  transform: translate(-164%, -50%) rotate(19deg);
  .circle {
    height: 148px;
    width: 148px;

    & .v-image {
      transform: rotate(-19deg);
    }
  }
  .line {
    width: 100px;
    background-color: #ff97e2;
    transform: translateX(145%);
  }
}

.circle-line.left-b {
  transform: translate(-149%, 130%) rotate(-40deg);
  .circle {
    height: 102px;
    width: 102px;

    & .v-image {
      transform: rotate(40deg);
    }
  }
  .line {
    width: 60px;
    background-color: #ff97e2;
    transform: translateX(163%);
  }
}

// Mini circles
.mini-circle {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #ff97e2;
  &.top {
    transform: translate(50%, -800%);
  }
  &.right {
    transform: translate(725%, 65%);
  }
  &.bottom {
    background-color: #b36a9e;
    transform: translate(-193%, 737%);
  }
}
.lollypop {
  position: absolute;

  &.top-right {
    width: 150px;
    transform: translate(69%, -511%) rotate(-60deg);
  }

  &.top-left {
    width: 54px;
    transform: translate(-123%, -430%) rotate(-115deg);
  }

  &.bottom-right {
    width: 40px;
    transform: translate(120%, 425%) rotate(70deg);
    .circle {
      border-color: #b36a9e;
    }
    .line {
      background-color: #b36a9e;
    }
  }

  &.bottom-left {
    width: 30px;
    transform: translate(-446%, 160%) rotate(-205deg);
  }

  .circle {
    position: relative;
    float: right;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border-radius: 50%;
    border-color: #ff97e2;
    border: 11.5px #ff97e2 solid;
  }

  .line {
    position: absolute;
    height: 13px;
    width: 100%;
    background-color: #ff97e2;
    transform: translateX(-30px);
    top: 30.5%;
  }
}

@media only screen and (max-width: 600px) {
  // Circulos
  .c-center {
    transform: scale(0.5);
  }
  .circle-line {
    transform: scale(0.5) translate(145%, -49%) rotate(158deg);
  }
  .circle-line.right-b {
    transform: scale(0.5) translate(135%, 86%) rotate(211deg);
  }
  .circle-line.left-a {
    transform: scale(0.5) translate(-164%, -50%) rotate(19deg);
  }
  .circle-line.left-b {
    transform: scale(0.5) translate(-149%, 130%) rotate(-40deg);
  }
  // Mini Circulos
  .mini-circle {
    &.top {
      transform: scale(0.5) translate(50%, -800%);
    }
    &.right {
      transform: scale(0.5) translate(725%, 65%);
    }
    &.bottom {
      background-color: #b36a9e;
      transform: scale(0.5) translate(-193%, 737%);
    }
  }

  // Chupetines
  .lollypop {
    &.top-right {
      transform: scale(0.5) translate(69%, -511%) rotate(-60deg);
    }

    &.top-left {
      transform: scale(0.5) translate(-123%, -430%) rotate(-115deg);
    }

    &.bottom-right {
      transform: scale(0.5) translate(120%, 425%) rotate(70deg);
    }

    &.bottom-left {
      transform: scale(0.5) translate(-452%, 160%) rotate(-205deg);
    }
  }
}
</style>