<i18n src="../locales/rejected.json"></i18n>

<template>
  <div class="rejected black--text py-5" :class="{'pa-5': !isXsSm()}">
    <v-icon size="46" color="#e8473f" class="mb-4">mdi-close-circle</v-icon>
    <div class="font-weight-light display-1">{{ $t('rejected') }}</div>
    <div class="subutitle-1 mt-3 mb-12" v-html="$t('rejected_text')"></div>
    <!--<v-btn class="d-block mx-auto" color="primary" width="200" @click="goToPayment">{{ $t('action') }}</v-btn>-->
  </div>
</template>

<script>
export default {
  props: {
    assistance: {
      type: Object,
      required: true
    }
  },
  methods: {
    goToPayment() {
      this.$router.push('/asistencias/' + this.assistance.slug + '/pago');
    }
  }
}
</script>

<style scoped>
.display-1 {
  font-size: 30px !important;
}
</style>