<i18n src="../locales/success.json"></i18n>
<template>
  <div class="success-process black--text py-5" :class="{'pa-5': !isXsSm()}">
    <v-icon size="46" color="primary" class="mb-4">mdi-check-circle</v-icon>
    <div class="font-weight-light display-1">{{ $t('success') }}</div>
    <div class="subutitle-1 mt-3 mb-3" v-html="$t('subscription')"></div>
    <div class="subutitle-1 mt-3 mb-12" v-html="$t('alert')"></div>
    <v-btn data-test-go_to_dashboard class="d-block mx-auto mb-5" width="200" color="primary" @click="goToAssistances">{{ $t('home') }}</v-btn>
    <v-btn data-test-go_to_dashboard class="d-block mx-auto mb-5" width="200" color="primary" @click="goToDashboard">{{ $t('action') }}</v-btn>
    <v-btn data-test-go_to_download text class="d-block mx-auto" color="primary" width="200" @click="goToDownload">{{ $t('download') }}</v-btn>
  </div>
</template>

<script>
export default {
  props: {
    assistance: {
      required: true
    },
    isLoggedIn: {
      type: Boolean,
      required: true
    }
  },
  methods: {
    goToAssistance(){
      window.location.href = "/";
    },
    goToDownload() {
      let path = '/asistencias/' + this.assistance.slug + '/credencial';
      if(this.isLoggedIn) {
        this.$router.push(path);
      } else {
        this.showLoginDialog({ status: true, path: path });
      }
    },
    goToAssistances(){
      this.$router.push('/asistencias');
    },
    goToDashboard() {
      this.$router.push('/dashboard');
    }
  }
}
</script>

<style scoped>
.display-1 {
  font-size: 30px !important;
}
</style>