<template>
  <v-container :style="mainContainerStyle" fluid fill-height class="pa-0 ma-0 justify-center" :class="mainContainer" :id="id">
    <v-layout class="justify-center" :class="bgWrapper" style="width:100%" :style="{'max-width': wrapper}">
      <v-flex :class="bgInner+customMargin" :style="{width: '100%', 'max-width': innerContainer}">
        <slot name="content">
        </slot>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    props: [
      'id',
      'layoutWidth',
      'containerWidth',
      'bgWrapperClass',
      'bgInnerClass',
      'marginInner',
      'mainContainerClass',
      'mainStyle'
    ],
    data() {
      return {
        mainContainer: this.mainContainerClass || 'grey lighten-3',
        mainContainerStyle: this.mainStyle || false,
        wrapper: this.layoutWidth || '1124px',
        innerContainer: this.containerWidth || '1092px',
        bgWrapper: this.bgWrapperClass || '',
        bgInner: this.bgInnerClass || '',
        customMargin: this.marginInner || 'ml-4 mr-4'
      };
    }
  };
</script>

<style>
  .bgGreen {
    background-color: #41ffaf;
    color: #fff;
  }

  .bgWhite {
    background-color: #ffffff;
  }

  .bgBlue {
    background-color: #000326;
    color: #fff;
  }

  .bgPurple {
    background-color: #9164cc;
    color: #fff;
  }

  .bgTransparent {
    background: none !important;
  }

  .bgGrey {
    background-color: #333333;
    color: #f8f3ff;
  }
</style>
